<dom-module id="test-eml">
    <template>
        <style>
             :host {
                display: block;
            }
        </style>
        <input type="text" name="" id="" value="{{test.tests::input}}">{{test.tests}}
    </template>
    <script>
        Polymer({
            is: 'test-eml',
            behaviors: [ReduxBehavior],
            properties: {
                test: {
                    type: Object,
                    value: {tests:'e'}
                },            
}
        });
    </script>
</dom-module>