้้
<link rel="import" href="./../../../../bower_components/polymer/polymer.html">
<link rel="import" href="./../../../layout/shared-styles.html">
<link rel="import" href="./../../components/page-panel.html"> ่
<link rel="import" href="./../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="./../../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="./../../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="./../../../redux-behavior.html">
<dom-module id="exporter-report2-board">
    <template>
        <style include="shared-styles">
            page-panel {
                padding: 1px;
            }
        </style>
        <div role="listbox">

            <template is="dom-repeat" items="[[reportList]]">
                <page-panel>
                    <paper-item>
                        <!-- <div class="avatar blue" slot="item-icon"></div> -->
                        <paper-item-body two-line>
                            <div>invoice id : [[item.invoice_id]]</div>
                            <div secondary>สถานนะ : [[item.status_th]]</div>
                        </paper-item-body>
                        <paper-icon-button on-tap="openPanel" icon="icons:create" alt="favourite this!" disabled="[[status(item.type_doc)]]">
                        </paper-icon-button>
                        <paper-icon-button on-tap="confirmData" icon="icons:delete" alt="favourite this!" disabled="[[status(item.type_doc)]]">
                        </paper-icon-button>
                    </paper-item>
                </page-panel>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'exporter-report2-board',
            behaviors: [ReduxBehavior],
            properties: {
                reportList: {
                    statePath: 'exporterReport.reportList',
                    //  observer:'checkData'
                }
            },
            status:function(val){
                if(val == 'n'){
                    return false
                }
                else{
                    return true
                }
            },
            openPanel: function (e) {
                console.log(e.model.item.id);
                this.dispatchAction('EXPORTER_REPORT_SELECT', e.model.item.id);
                this.dispatchAction('EXPORTER_REPORT_LIST_UPLOAD', e.model.item.id);
                // this.dispatchAction('EXPORTER_REPORT2_GET_LIST','0105532018536')
                this.fire('open-panel')
            },
            confirmData: function (e) {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการลบข้อมูลใช่หรือไม่ ?',
                    confirmed: this.deleteData.bind(this),
                    data: e.model.item.id
                })
            },
            deleteData: function (check,value) {
                if(check == true){
                    console.log(value)
                    this.dispatchAction('EXPORTER_REPORT_DELETE',value.data)
                    .then((res)=>{
                        this.dispatchAction('EXPORTER_REPORT2_GET_LIST','0105532018536')
                    })
                }
                // this.dispatchAction('EXPORTER_REPORT_SELECT', e.model.item.id);
            }
        });
    </script>
</dom-module>