<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-textarea.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-dropdown-menu.html">
<link rel="import" href="./../../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="./../../../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../../../redux-behavior.html">

<dom-module id="detail-company">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    * {
      font-family: 'CSChatThaiUI', sans-serif !important;
      -webkit-font-smoothing: antialiased;
    }
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 20px 0px 20px 0px;
    }
    paper-icon-button {
      margin-top: 20px;
    }
    .padding {
      padding: 20px;
    }
    .text {
      margin-top: 25px;
      font-size: var(--font-size-h5);
    }
  </style>
  <template>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
        <div class="text" style="text-align: right;">สถานะ : {{data.approve_status_name}}</div>
      </gl-grid-col>
    </gl-grid-row>

    <div class="title">ข้อมูลรายละเอียด</div>
    <gl-form-panel set-border="0">

      [[checkStatus(data.approve_status)]]

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input hidden id="input-no" label="{{localize.no_exporter_fullname}} :" value="{{data.exporter_no_name}}" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>


      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="{{localize.tax_no}} :" value="{{data.company_taxno}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="{{localize.name_company}} :" value="{{data.company_name_th}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="{{localize.name_company}} ({{localize.eng}}) :" value="{{data.company_name_en}}" disabled></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="{{localize.address}} :" value="{{data.company_address_th}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="{{localize.address}} ({{localize.eng}}) :" value="{{data.company_address_en}}" disabled></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="{{localize.tel}} :" value="{{data.company_phone}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="{{localize.fax}} :" value="{{data.company_fax}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu style="width:60%;" class="checkValidate" label="{{localize.type_license}}" placeholder="{{localize.select_type}}" disabled="[[obItem(data.company_id)]]" required>
            <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{data.type_lic_id}}" name="type_lic_id">
              <template is="dom-repeat" items={{typeLic}}>
                <paper-item value="[[item.type_lic_id]]">{{item.type_lic_name}}</paper-item>
              </template>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>
      </gl-grid-row>
      <div class="horizontal layout">
        <div class="text">{{localize.list_board}}</div>
      </div>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <template is="dom-repeat" items="{{data.company_agent}}">
            <gl-form-input label="{{localize.name_committee}}" auto-validate error-message="{{localize.insert_board}}" required value="{{item.agent_name}}"
              no-label-float disabled></gl-form-input>
          </template>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input hidden id="input-remark" always-float-label label="{{localize.note}} : " value="{{data.company_remark}}" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
    </gl-form-panel>

  </template>
  <script>
    Polymer({
      is: "detail-company",
      behaviors: [ReduxBehavior, ValidateFormBehavior],
      properties: {
        data: {
          statePath : 'confirm.data'
        },
        localize:{
          statePath : 'i18n.exporter'
        },
        typeLic:{
          statePath : 'exporter.typeLic'
        }
      },
      backPage: function () {
        this.fire('backPage');
      },
      checkStatus: function (val) {
        if (typeof val != 'undefined' && val != undefined) {
          if (val == 'request') {
            this.$$('#input-no').setAttribute("hidden", "hidden");
            this.$$('#input-remark').setAttribute("hidden", "hidden");
          }
          else if (val == 'reject') {
            this.$$('#input-no').setAttribute("hidden", "hidden");
            this.$$('#input-remark').removeAttribute("hidden");
          }
          else if (val == 'approve') {
            this.$$('#input-no').removeAttribute("hidden");
            this.$$('#input-remark').setAttribute("hidden", "hidden");
          }
        }
      },
      obItem:function(val){
        if(typeof val != 'undefined' && val != undefined){
          return true;
        }else{
          return false;
        }
      },
      validate:function(){
        var check = this.validateForm('.checkValidate')
        return check
      }
    });
  </script>
</dom-module>