<link rel="import" href="./../../components/validateFormBehaviors.html">

<link rel="import" href="../../../redux-behavior.html">

<dom-module id="detail-company">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .title-head {
      text-align: center;
       font-size: var(--font-size-h3);
        color: white;
    }
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 20px 0px 20px 0px;
    }
    paper-icon-button {
      margin-top: 20px;
    }
    .padding {
      padding: 20px;
    }
    .text {
      margin-top: 25px;
      font-size: var(--font-size-h5);
    }
    .boxNortify{
      border: 2px solid red;
      background-color: red;
      padding: 5px;
    }
    .boxChange_status{
      border: 2px solid #6699FF;
      background-color: #6699FF;
      padding: 5px;
    }
  </style>
  <template>
    <template is="dom-if" if={{checkStatusExtend(data.draft_status)}}>
      <div id="titleBg" class="boxNortify">
        <div id="titleExporter" class="title-head"><iron-icon icon="icons:info"></iron-icon>  {{localize.request_change_expire}}</div>
      </div>
    </template>
    <template is="dom-if" if={{checkStatusType(data.draft_status)}}>
      <div id="titleBg" class="boxChange_status">
        <div id="titleExporter" class="title-head"><iron-icon icon="icons:info"></iron-icon>  {{localize.request_change_status}}</div>
      </div>
    </template>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
        <div class="text" style="text-align: right;">{{localize.status}} : 
          <template is="dom-if" if={{!data.approve_status}}>
            {{data.doc_status_name}}
          </template>
          <template is="dom-if" if={{data.approve_status}}>
            <template is="dom-if" if={{!data.status_approve}}>
              {{data.approve_status_name}}
            </template>
            <template is="dom-if" if={{data.status_approve}}>
              {{data.status_approve_name}}
            </template>
          </template>
        </div>
      </gl-grid-col>
    </gl-grid-row>

    <div class="title">{{localize.detail_data}}</div>
    <gl-form-panel set-border="0">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <template is="dom-if" if={{data.approve_status}}>
            <gl-form-input label="{{localize.no_exporter_fullname}} :" value="{{data.exporter_no_name}}" disabled></gl-form-input>
          </template>
        </gl-grid-col>
      </gl-grid-row>


      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="{{localize.tax_no}} :" value="{{data.company.company_taxno}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="{{localize.name_company}} :" value="{{data.company.company_name_th}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="{{localize.name_company}} ({{localize.eng}}) :" value="{{data.company.company_name_en}}" disabled></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="{{localize.address}} :" value="{{data.company.company_address_th}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="{{localize.address}} ({{localize.eng}}) :" value="{{data.company.company_address_en}}" disabled></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="{{localize.email}} :" value="{{data.company.company_email}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="{{localize.tel}} :" value="{{data.company.company_phone}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="{{localize.fax}} :" value="{{data.company.company_fax}}" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu style="width:60%;" class="checkValidate" label="{{localize.type_license}}" placeholder="{{localize.select_type}}" disabled="[[obItem(data.company_id)]]" required>
            <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{data.lic_type_id}}" name="lic_type_id">
              <template is="dom-repeat" items={{licType}}>
                <paper-item value="[[item.lic_type_id]]">{{item.lic_type_name}}</paper-item>
              </template>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>
      </gl-grid-row>
      <div class="horizontal layout">
        <div class="text">{{localize.list_board}}</div>
      </div>
      <ol>
        <template is="dom-repeat" items="{{data.company.company_directors}}">
          <li>{{item.TitleNameTH}} {{item.FirstNameTH}} {{item.LastNameTH}}</li>
        </template>
      </ol>
      <!-- <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <template is="dom-repeat" items="{{data.company.company_directors}}">
            <gl-form-input label="{{localize.name_committee}} :" value="{{item.TitleNameTH}} {{item.FirstNameTH}} {{item.LastNameTH}}" disabled></gl-form-input>
          </template>
        </gl-grid-col>
      </gl-grid-row> -->

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <template is="dom-if" if={{!data.register_status}}>
            <template is="dom-if" if={{!data.doc_status}}>
              <gl-form-input always-float-label label="{{localize.note}} : " value="{{data.company_remark}}" disabled></gl-form-input>
            </template>
          </template>
        </gl-grid-col>
      </gl-grid-row>
    </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "detail-company",
      behaviors: [ReduxBehavior, ValidateFormBehavior],
      properties: {
        data: {
          statePath : 'confirm.data'
        },
        localize:{
          statePath : 'i18n.exporter'
        },
        licType:{
          statePath : 'exporter.licType'
        }
      },
      backPage: function () {
        this.fire('backPage');
      },
      obItem:function(val){
        if(typeof val != 'undefined' && val != undefined){
          return true;
        }else{
          return false;
        }
      },
      validate:function(){
        var check = this.validateForm('.checkValidate')
        return check
      },
      obExporter:function(val){
        if(typeof val === 'undefined' && val == undefined){
          return true
        }else if(val === true){
          return false
        }else{
          return true
        }
      },
      checkStatusType:function(val){
        if(val == 'type'){
          return true
        }else{
          return false
        }
      },
      checkStatusExtend:function(val){
        if(val == 'extend'){
          return true
        }else{
          return false
        }
      },
      resetValidate:function(){
        this.queryFrom('.checkValidate').map((el) => { el.reset(); });
      }
    });
  </script>
</dom-module>