<link rel="import" href="detail-company.html">
<link rel="import" href="fileup-company.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">

<dom-module id="register-page">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color gl-table gl-toast">
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 20px 0px 20px 0px;
    }
    
    .searchBox {
      padding: 5px;
      background-color: var(--gl-gray-lighter-color);
    }
    
    .searchBorder {
      border: 1px solid var(--gl-gray-light-color);
      margin: 15px;
      border-radius: 3px
    }
    
    paper-tabs {
      background-color: #f7941e;
      margin: 15px;
      color: #F2F2F2;
      --paper-tabs-selection-bar: {
        height: 5px;
        background-color: var(--gl-info-color);
      }
    }
    
    paper-tab:focus>div.tab-content {
      background-color: yellow;
      opacity: 1;
      font-weight: 0;
    }
    
    paper-tab:not(:last-of-type) {
      border-right: 3px solid var(--gl-gray-light-color);
      font-size: var(--font-size-h5);
    }
    
    paper-tabs paper-tab.iron-selected {
      font-size: var(--font-size-h5);
      color: var(--gl-white-color);
      background-color: var(--gl-info-color);
    }
  </style>
  <template>
    <div>
      <paper-tabs selected="{{pages}}" align-bottom no-slide>
        <paper-tab>{{localize.detail}}</paper-tab>
        <paper-tab id="tabFile">{{localize.doc_ev}}</paper-tab>
      </paper-tabs>
      <gl-form-panel>
        <iron-pages selected="{{pages}}">
          <detail-company></detail-company>
          <fileup-company></fileup-company>
        </iron-pages>
      </gl-form-panel>
    </div>

    <div class="horizontal end-justified layout" style="margin:10px">
      
      <template is="dom-if" if={{data.register_status}}>
        <paper-button raised class="gl-btn-primary" on-tap="_register">
        <iron-icon icon="add"></iron-icon>{{localize.bt_register}}</paper-button>
      </template>
      
      
      <template is="dom-if" if={{_checkData(data)}}>
        <template is="dom-if" if={{!data.register_status}}>
          <template is="dom-if" if={{!data.doc_status}}>
            <paper-button raised class="gl-btn-primary" on-tap="_reject">
              <iron-icon icon="add"></iron-icon>{{localize.bt_sent_new}}</paper-button>
          </template>
        </template>
      </template>
      
      
    </div>
  </template>
  <script>
    Polymer({
      is: "register-page",
      behaviors: [ReduxBehavior, ValidateFormBehavior],
      properties: {
        pages: {
          type: Number,
          notify: true,
          value: 0
        },
        data: {
          statePath : 'confirm.data'
        },
        localize:{
          statePath : 'i18n.exporter'
        }
      },
      listeners: {
        'refresh-exporterTrader': 'getExporterTrader'
      },
      _register: function () {
        // let {company_address_en, company_address_th, company_name_en, company_name_th, company_phone,
        // company_province_en, company_province_th, company_taxno} = this.data;
        // let data_company = {company_address_en, company_address_th, company_name_en, company_name_th, company_phone,
        // company_province_en, company_province_th, company_taxno};
        var data = {
          approve_status: false,
          company_id: this.data.company.id,
          company_taxno: this.data.company.company_taxno,
          doc_status: true,
          draft_status: 'sign',
          lic_type_id: this.data.lic_type_id
        }
        this.fire('toast', {
          status: 'openDialog',
          text: 'คุณต้องการจะสมัครผู้ส่งออกใช่หรือไม่ ?',
          confirmed: (result) => {
            if(result == true){
              var check = this.$$('detail-company').validate();
              if (check == true) {
                this.dispatchAction('CONFIRM_REGISTER',data);
              } else {
                this.fire('toast', { status: 'connectError', text: 'กรุณากรอกข้อมูลให้ครบ' });
              }
            }
          }
        });
      },
      _reject: function () {
        var data = {
          id: this.data.id,
          company_taxno: this.data.company_taxno,
          doc_status: true
        }
        this.fire('toast', {
          status: 'openDialog',
          text: 'คุณต้องการจะส่งเอกสารใหม่ใช่หรือไม่ ?',
          confirmed: (result) => {
            if (result == true) {
              this.dispatchAction('CONFIRM_COMPANY_REJECT', data);
            }
          }
        });
      },
      _checkData: function(data){
        if(typeof data !== 'undefined'){
          if(Object.keys(data).length > 0){
            return true
          }else{
            return false
          }
        }
      }
    });
  </script>
</dom-module>