<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="../../../month-behavior.html">
<link rel="import" href="../../../redux-behavior.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../components/nylon-input.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./payment-select.html">
<link rel="import" href="./payment-quota.html">
<dom-module id="payment-manage">
    <template>
        <style include="shared-styles"></style>
        <page-panel label="รายการออกใบเสร็จ">
			<payment-select></payment-select>
        </page-panel>
        <div class="white-space"></div>
        <page-panel>
            เลือกรูปแบบการชำระเงิน :
            <paper-radio-group selected="{{typePay}}" attr-for-selected="name">
                <paper-radio-button name="normal">แบบปกติ</paper-radio-button>
                <paper-radio-button name="quota">ใช้ยอดเดิม</paper-radio-button>
                <paper-radio-button name="over">แบบเกิน</paper-radio-button>
            </paper-radio-group>

            <div hidden="{{enableQuota}}">
                <div class="content">
                    <div class="flex">
                        <div>
                            <payment-quota id="list" data="{{cancelEcList.ecList}}"></payment-quota>
                            <!-- <fee-list id="list" data="{{data.ecList}}" data-pay="[[mathDataPay(data.ecList.*)]]" check-box="true" data-overplay='true'></fee-list> -->
                        </div>
                    </div>
                </div>
                <div class="white-space"></div>
                <!--{{typePay}} -->
                <div class="row around-xs">
                    <div class="col-xs-4">
                        <div class="box">
                            <!--{{bringForward.amount}}-->
                            <nylon-input label="จำนวนเงินตามคำขอ EC : " format-number value="{{bringForward.amount}}" disabled></nylon-input>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="box">
                            <nylon-input label="เงินคงเหลือจาก EC ที่ยกเลิก: " format-number value="{{bringForward.balance}}" disabled></nylon-input>
                        </div>
                    </div>
                </div>
                <div class="row around-xs">
                    <div class="col-xs-4">
                        <div class="box">
                            <nylon-input label="จำนวนเงินที่ต้องการใช้จากใบเสร็จ/ EC ที่ยกเลิก" format-number allowed-pattern="[0-9||,||.]" format-number
                                value="{{bringForward.pay_balance}}" disabled></nylon-input>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="box">
                            <nylon-input label="จำนวนเงินที่ต้องชำระ: " format-number allowed-pattern="[0-9||,||.]" value="{{bringForward.pay}}"></nylon-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-space"></div>
            <!--<template is="dom-if" if="{{!check(bringForward.pay)}}">-->
            <div hidden="{{enableNormal}}">
                <div class="row around-xs">
                    <div class="col-xs-4">
                        <div class="box">
                            <vaadin-combo-box id="form" class="saveData" label="เลือกธนาคาร" items="{{listBank}}" value="{{datas.bank_id}}" item-label-path="bank_name_th"
                                item-value-path="id" error-message="กรุณาเลือกบริษัท" disabled$="{{check(bringForward.pay)}}" required></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="box">
                            <nylon-input id="form" label="สาขา" disabled$="{{check(bringForward.pay)}}" value="{{datas.branch}}" required></nylon-input>
                        </div>
                    </div>
                </div>

                <div class="row around-xs">
                    <div class="col-xs-4">
                        <div class="box">
                            <nylon-input id="form" label="เลขที่เช็ค" value="{{datas.check_number}}" disabled$="{{check(bringForward.pay)}}" required></nylon-input>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="box">
                            <vaadin-date-picker id="form" label="วันที่เช็ค" value="{{datas.check_date}}" disabled$="{{check(bringForward.pay)}}" required></vaadin-date-picker>
                        </div>
                    </div>
                </div>

                <div class="row around-xs">
                    <div class="col-xs-4">
                        <div class="box">
                            <nylon-input id="form" label="จำนวนเงินที่ต้องชำระ" value="{{datas.total}}" format-number disabled$="{{check(bringForward.pay)}}" required></nylon-input>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="box">
                            <nylon-input id="form" label="จำนวนเงินที่ชำระจริงตามเช็ค" value="{{datas.check_sum}}" allowed-pattern="[0-9||,||.]" format-number
                                disabled$="{{check(bringForward.pay)}}" required></nylon-input>
                        </div>
                    </div>
                </div>

                <div class="row center-xs">
                    <div class="col-xs-10">
                        <div class="box">
                            <paper-textarea rows="2" label="หมายเหตุ" value="{{datas.note}}"></paper-textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row between-xs">
                <div class="col-xs-10">
                    <!-- <div class="box">
                        ออกใบเสร็จแบบ
                        <paper-radio-group selected="{{typeReceipt}}" attr-for-selected="name">
                            <paper-radio-button name="receipt">A4</paper-radio-button>
                            <paper-radio-button name="receiptDotmatrix">Dotmatrix</paper-radio-button>
                        </paper-radio-group>
                    </div> -->
                </div>
                <div class="col-xs-2">
                    <div class="box">
                        <paper-button class="gl-btn-primary" on-tap="confirmDialog" raised>ชำระเงิน</paper-button>
                        <!--<paper-button class="gl-btn-success" on-tap="openReceipt" raised>ออกใบเสร็จ</paper-button>-->
                    </div>
                </div>
            </div>
        </page-panel>
    </template>
    <script>
        Polymer({
            is: 'payment-manage',
            observers:[
                'selectTypePay(typePay)',
                'mathData(cancelEcList.ecList.*,paymentSelect)',
                'manageCheckBox(bringForward.pay)',
                'updateTotal(typePay,bringForward.pay)'
            ],
            behaviors: [FormatNumberBehavior, MonthBehavior, ReduxBehavior],
            properties:{
                listBank:{
                    statePath:'commonData.bank'
                },
                datas:{
                    type:Object,
                    statePath:'payment.form'
                },
                paymentSelect: {
                    statePath: 'payment.paymentSelect',
                    observer: 'getCancelEc'
                },
                cancelEcList:{
                    statePath: 'payment.paymentEcCancel'
                },
                bringForward:{
                    type:Object,
                    value:{}
                }
            },
            // get 
            updateTotal:function(type,pay){
                console.log(type,pay)
                if(type == 'over'){
                    this.set('datas.total',pay);
                }
                else if(type == 'normal'){
                    var num = 0;
                    this.paymentSelect.map((item)=>{
                         num += item.amount;
                    })
                    this.set('datas.total',num);
                }
            },
            getCancelEc:function(val){
                // console.log(val)

                var id = val.map((item)=>{
                    return item.id;
                })
                console.log('ec_id',id)
                this.dispatchAction('PAYMENT_GET_CANCEL_EC',{ec_id:id})
               
            },  
            ready:function(){
                this.typePay = 'normal';
            },
            check: function (data) {
                // console.log('*',data==0);
                return data == 0;
            },
            // math 
            mathData: function (data) {
                var pathLength = data.path.split('.').length;
                var path = data.path.split('.')[pathLength-1];
                var obj = {};
                if(typeof data.base == 'undefined') return;
                if(path == 'check' || path == 'ecList') {

                    var ec = 0;
                    var sum = data.base;
                    this.paymentSelect.map((item) => {
                        ec += item.amount;
                    })
                   
                    // console.log('ec',ec);
                    // console.log('sum',sum);
                    // console.log('paymentSelect',this.paymentSelect)
                    if (sum.length != 0) {
                        sum = sum.reduce(function (total, num) {
                            return { balance: total.balance + num.balance }
                        }).balance
                        console.log(sum)
                    }
                    var select = data.base.filter(function (row) {
                        return (row.check || false) == true
                    })
                    // console.log('select 1',select)
                    if (select.length != 0) {
                        select = select.reduce(function (total, num) {
                            return { balance: total.balance + num.balance }
                        }).balance
                    } else {
                        select = 0;
                    }
                    // console.log('select 2',select)

                    var balance = ((select - ec) < 0 ? 0 : (select - ec)) + (sum - select);

                    // var balance = 0
                    // if((select-ec)< 0){
                    //     balance = 0 + (sum - select);
                    // }
                    // else {
                    //     balance = (select-ec)+(sum - select);
                    // }

                    var pay_balance = select > ec ? ec : select;
                    // console.log('pay_balance',pay_balance,'ec',ec)
                    var pay = ec - pay_balance;

                    var ecUpdate = [];
                    var amount = ec;
                    var select_ec = this.cancelEcList.ecList.filter(function (item) {
                        return item.check == true;
                    })
                    // console.log('amount',amount)
                    // console.log('ec',ec)
                    console.log(select_ec)
                    for (var i = 0; i < select_ec.length; i++) {
                        var check = select_ec[i].balance - amount;
                        console.log(check)
                        if (check >= 0) {
                            console.log(amount,select_ec[i])
                            select_ec[i].useBalance = amount;
                            select_ec[i].totalBalance = select_ec[i].balance - amount;
                            ecUpdate.push(select_ec[i])
                            break;
                        }
                        else {
                            select_ec[i].useBalance = select_ec[i].balance;
                            select_ec[i].totalBalance = select_ec[i].balance - select_ec[i].balance;
                            ecUpdate.push(select_ec[i])
                            amount = amount - select_ec[i].balance;
                        }
                        console.log(amount)
                    }
                    console.log(ecUpdate)
                    var iEcUpdate = 0;
                    var allEcList = this.cancelEcList.ecList;
                    allEcList.map(function (row, i) {
                        if (row.check) {
                                allEcList[i] = ecUpdate[iEcUpdate];
                                console.log(iEcUpdate,i,allEcList.length)
                                iEcUpdate++;
                               
                                // if(iEcUpdate == allEcList.length) return;
                                // console.log(ecUpdate[iEcUpdate])
                            // }
                            // // console.log(iEcUpdate)
                            // console.log(ecUpdate[iEcUpdate])
                            // console.log(row.check)
                    
                           
                        } else {
                            allEcList[i].useBalance = 0;
                            allEcList[i].totalBalance = allEcList[i].balance;
                            // console.log(row.check)
                            // console.log(allEcList[i])
                        }
                    });
                    // console.log('iEcUpdate',iEcUpdate);
                    // console.log('allEcList',allEcList);

                    this.cancelEcList.ecList = allEcList;
                    
                    this.cancelEcList.ecList.map((row, i) => {
                        this.notifyPath(`cancelEcList.ecList.${i}.useBalance`);
                        this.notifyPath(`cancelEcList.ecList.${i}.totalBalance`);
                    })
                    // console.log(this.cancelEcList.ecList);
                    // console.log(
                    //     {
                    //         amount: ec,
                    //         balance: balance,
                    //         pay_balance: pay_balance,
                    //         pay: pay
                    //     }
                    // )
                    this.set('bringForward',{
                            amount: ec,
                            balance: balance,
                            pay_balance: pay_balance,
                            pay: pay
                    }) 
                }
            },
            sumMonney:function(val){
                if (val.length > 0 ) {
                    var sum = 0;
                    console.log(val)
                    val.map((item)=>{
                        sum += item.amount;
                    })
                    this.set('datas.total',sum)
                }
            },
            // menu
            selectTypePay: function (val) {
                console.log(val)
                this.enableQuota = false;
                this.enableNormal = false;
                if(val == 'normal'){
                    this.enableNormal = false;
                    this.enableQuota = true;
                }
                else if(val == 'quota'){
                    this.enableNormal = true;
                    this.enableQuota = false;
                    this.$.list.resize()
                }
                else {
                    this.$.list.resize()
                }
            },
            confirmDialog:function(){
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการชำระเงินใช่ไหม ?',
                    confirmed: this.saveData.bind(this)
                })
            },
            saveData:function(check){
                if(check == true){
                    // console.log('=w=')
                    if(this.typePay == 'normal'){
                        if(this.elementValidate('#form') == true){
                            this.payNormal();
                        }
                    }
                    else if (this.typePay == 'quota'){
                        this.payQuota();
                    }
                    else if (this.typePay == 'over'){
                        if(this.elementValidate('#form') == true){
                            this.payOver();
                        }
                    }
                }
            },
            //  จ่ายแบบปกติ
            payNormal:function(){
                var item = this.datas;
                item.list = this.paymentSelect;
                item.check_sum = this.unFormat(this.datas.check_sum);
                item.type = 'N';
                item.bank_branch = this.datas.branch;
                item.total = this.unFormat(this.datas.total);
                console.log(item);
                console.log(JSON.stringify(item));
                this.fire('toast',{status:'load'});
                this.dispatchAction('PAYMENT_PAY',item)
                .then((response)=>{
                    console.log('success!!');
                    console.log(response.data);
                    this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',
                      callback:()=>{
                        window.open('/api/payment/printReceipt?id='+response.data.receipt_id+
                        '&coppy=false&type=receiptDotmatrix',
                        '_blank');
                      }
                     });
                })
                .catch((error)=>{
                    this.fire('toast',{status:'connectError',text:error.message,
                     callback:function(){
                     }})
                });
            },
            // จ่ายแบบยอดเดิม
            payQuota:function(){
                var list_old = this.cancelEcList.ecList.filter((item)=>{
                        return item.check == true;
                    })
                var newItem = {
                    list_old: list_old,
                    total: this.unFormat(this.datas.total),
                    list: this.paymentSelect
                }
                console.log(newItem);
                this.fire('toast',{status:'load'});
                this.dispatchAction('PAYMENT_PAY_TYPE_QUOTA',newItem)
                .then((response)=>{
                    console.log('success!!');
                    console.log(response.data);
                    this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',
                      callback:()=>{
                        window.open('/api/payment/printReceipt?id='+response.data.receipt_id+
                        '&coppy=false&type=receiptDotmatrix',
                        '_blank');
                      }
                     });
                })
                .catch((error)=>{
                     this.fire('toast',{status:'connectError',text:error.message,
                     callback:function(){
                     }})
                });
                // -------------------------------
                // var amount = 0;
                // var select = this.cancelEcList.ecList.filter(function (item) {
                //     return item.check == true;
                // })
                // this.paymentSelect.map((item) => {
                //     amount += item.amount;
                // })
                // var old = [];


                // for (var i = 0; i < select.length; i++) {
                //     var check = select[i].balance - amount;

                //     if (check >= 0) {
                //         old.push({
                //             ec_id: select[i].id,
                //             amount: amount
                //         })
                //         break;
                //     }
                //     else {
                //         old.push({
                //             ec_id: select[i].id,
                //             amount: select[i].balance
                //         })
                //         amount = amount - select[i].balance;
                //     }
                // }
                // var result = {};
                // var ecSelect = this.paymentSelect.map((item) => {
                //     var { quantity, price } = item;
                //     var newData = { quantity, price }
                //     newData.ec_id = item.id;
                //     newData.amount = newData.quantity * newData.price;
                //     return newData;
                // })
                // console.log(ecSelect);
                // if (old.length != 0)
                //     result.list_old = old;
                // if (!this.check(this.bringForward.pay)) {
                //     var num = 0;
                //     this.paymentSelect.map((item)=>{
                //         num += item.quantity;
                //     })
                //     // result.check = this.datas;
                //     result.bank_id = this.datas.bank_id || '';
                //     result.check_date = this.datas.check_date || '';
                //     result.check_number = this.datas.check_number || '';
                //     result.check_sum = this.unFormat(this.datas.check_sum);
                //     result.credit = num;
                //     result.note = this.datas.note || '';
                //     result.bank_branch = this.datas.branch || '';
                // }
                // result.total = this.datas.total || 0;
                // result.list = ecSelect;
                // console.log(JSON.stringify(result));
            },
            // จ่ายแบบเกิน
            payOver:function(){
                // console.log('event');
                var item = this.datas;
                item.list = this.paymentSelect;
                item.check_sum = this.unFormat(this.datas.check_sum);
                item.bank_branch = this.datas.branch;
                item.list_old = this.cancelEcList.ecList.filter((item)=>{
                        return item.check == true;
                    })
                item.list =  this.paymentSelect;
                item.total = this.unFormat(this.datas.total);
                console.log(item)
                this.fire('toast',{status:'load'});
                this.dispatchAction('PAYMENT_PAY_TYPE_QUOTA',item)
                .then((response)=>{
                    console.log('success!!');
                    console.log(response.data);
                    this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',
                      callback:()=>{
                        window.open('/api/payment/printReceipt?id='+response.data.receipt_id+
                        '&coppy=false&type=receiptDotmatrix',
                        '_blank');
                      }
                     });
                })
                .catch((error)=>{
                   this.fire('toast',{status:'connectError',text:error.message,
                   callback:function(){
                   }})
                });
            },
            manageCheckBox:function(val){
                  if (typeof val != 'undefined') {
                    // this.$.list.checkboxHide()
                    if (val == 0) {
                        // console.log('1234')
                        this.$.list.checkboxHide();
                    }
                    else if (val > 0) {
                        this.$.list.checkboxClear();
                    }

                }
            },
            elementValidate:function(val){
                var item = Polymer.dom(this.root).querySelectorAll(val).map(function(item){
                    return item.validate();
                })
                return item.every(check=> check == true);
            }
        });
    </script>
</dom-module>