<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="../../../month-behavior.html">
<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../redux-behavior.html">

<dom-module id="payment-quota">
    <template>
        <style include="shared-styles">
            #material {
                height: auto;
            }
        </style>
        <vaadin-grid slot="grid" id="material" items="[[data]]" size="200">
            
            <vaadin-grid-column width="100px" flex-grow="0" frozen>
                <template class="header">
                    <div class="box" style="text-align:center;">
                        เลือก
                    </div>
                </template>
                <template>
                    <div class="box">
                        <paper-checkbox on-tap="setDataCheck" value="{{item}}" checked="{{item.check}}" disabled="{{item.hidden}}"></paper-checkbox>
                    </div>
                </template>
            </vaadin-grid-column>

            <!-- <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">ชื่อฟอร์ม</div>
                </template>
                <template>
                    <div class="cell" check-group$="[[item.class]]">EC ในโควตา EU</div>
                </template>
            </vaadin-grid-column> -->

            <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">บริษัท</div>
                </template>
                <template>
                    <div class="cell">[[item.exporter_name]]</div>
                </template>
            </vaadin-grid-column>
            <!-- <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">ชื่อฟอร์ม</div>
                </template>
                <template>
                    <div class="cell" check-group$="[[item.class]]">EC ในโควตา EU</div>
                </template>
            </vaadin-grid-column> -->

            <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">เลขที่หนังสือรับรอง</div>
                </template>
                <template>
                    <div class="cell">[[item.ec_number]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">วันที่ส่ง</div>
                </template>
                <template>
                    <div class="cell">[[item.req_date]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">ยอดเงินสุทธิ</div>
                </template>
                <template>
                    <div class="cell" style="text-align:right">[[formatNumber(item.balance)]]</div>
                </template>
                <template class="footer">
                    <div class="cell" style="text-align:right">
                        {{sum(data.*,'balance')}}
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">ยอดเงินที่ใช้</div>
                </template>
                <template>
                    <div class="cell" style="text-align:right">[[formatNumber(item.useBalance)]]</div>
                </template>
                <template class="footer">
                    <div class="cell" style="text-align:right">
                        {{sum(data.*,'useBalance')}}
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px" flex="0">
                <template class="header">
                    <div class="cell">คงเหลือ</div>
                </template>
                <template>
                    <div class="cell" style="text-align:right">[[formatNumber(item.totalBalance)]]</div>
                </template>
                <template class="footer">
                    <div class="cell" style="text-align:right">
                        {{sum(data.*,'totalBalance')}}
                    </div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'payment-quota',
            behaviors: [ReduxBehavior, FormatNumberBehavior, MonthBehavior],
            properties: {
                data: {
                   type:Array,
                   value:[]
                }
            },
            sum: function (val, feild) {
                // console.log(val,feild);
                // var sum = 0;
                // val.base.map((item) => {
                //         sum += item[feild]
                // })
                // return this.formatNumber(sum)
            },
            converDate: function (val) {
                if (typeof val != 'undefined') {
                    var arr = val.split('/');
                    var year = parseInt(arr[2]) + 543;
                    var result = arr[0] + ' ' + this.getMonthShortName(arr[1]) + ' ' + year;
                    return result
                    //  console.log(val.split('/'));
                }
            },
            sumMoney: function (val) {
                if (val.base.length > 0 && val.path == 'data') {
                    var sum = 0;
                    console.log(val);
                    val.base.map(function (item) {
                        sum += (item.quantity * item.price);
                    }.bind(this))
                    return this.formatNumber(sum)
                    // console.log('event',val.base);
                }
            },
            setDataCheck: function (e) {
                var index = e.model.index;
                var item = e.model.item;
                this.set('data.' + index + '.check', item.check);
                // console.log(this.data)
            },
            checkboxHide:function(){
                this.data.map((item,index)=>{
                    console.log(item.check)
                    this.set('data.'+index+'.hidden',!item.check)
                })
            },
            checkboxClear:function(){
                this.data.map((item,index)=>{
                    this.set('data.'+index+'.hidden',false)
                })
            },
            resize:function(){
                this.$.material.notifyResize()
            }
        });
    </script>
</dom-module>