<link rel="import" href="../../../bower_components/polymer/polymer.html">
<script>
    /**
     *MonthBehavior
    * @polymerBehavior
    */
    MonthBehavior = {
        properties: {
            month: {
                type: Array,
                value: [
                    {
                        id: '1',
                        name: 'มกราคม'
                    },
                    {
                        id: '2',
                        name: 'กุมภาพันธ์'
                    },
                    {
                        id: '3',
                        name: 'มีนาคม'
                    },
                    {
                        id: '4',
                        name: 'เมษายน'
                    },
                    {
                        id: '5',
                        name: 'พฤษภาคม'
                    },
                    {
                        id: '6',
                        name: 'มิถุนายน'
                    },
                    {
                        id: '7',
                        name: 'กรกฎาคม'
                    },
                    {
                        id: '8',
                        name: 'สิงหาคม'
                    },
                    {
                        id: '9',
                        name: 'กันยายน'
                    },
                    {
                        id: '10',
                        name: 'ตุลาคม'
                    },
                    {
                        id: '11',
                        name: 'พฤศจิกายน'
                    },
                    {
                        id: '12',
                        name: 'ธันวาคม'
                    }
                ]

            }
        },
        getMonthName: function (id) {
            if (id == '1') {
                return 'มกราคม'
            }
            else if (id == '2') {
                return 'กุมภาพันธ์'
            }
            else if (id == '3') {
                return 'มีนาคม'
            }
            else if (id == '4') {
                return 'เมษายน'
            }
            else if (id == '5') {
                return 'พฤษภาคม'
            }
            else if (id == '6') {
                return 'มิถุนายน'
            }
            else if (id == '7') {
                return 'กรกฎาคม'
            }
            else if (id == '8') {
                return 'สิงหาคม'
            }
            else if (id == '9') {
                return 'กันยายน'
            }
            else if (id == '10') {
                return 'ตุลาคม'
            }
            else if (id == '11') {
                return 'พฤศจิกายน'
            }
            else if (id == '12') {
                return 'ธันวาคม'
            }
        },
        toThaiDate(date) {
            // console.log(date);
            if (date !== undefined) {
                let year = parseInt(date.split('-')[0]) + 543,
                    month = date.split('-')[1],
                    day = date.split('-')[2];
                return day + '/' + month + '/' + year
            }

        },
        genUrl(url) {
            let data = new String()
            let url_length = Object.getOwnPropertyNames(url).length
            let count = new Number()
            // //console.log(url);
            for (var variable in url) {
                if (url[variable] != '') {
                    data = data + variable + "=" + url[variable];
                    (count < url_length - 1) ? data += '&' : '';
                }
                count++
            }
            // //console.log(data);
            return data
        },
        checkArrayEmpty(arr) {
            // console.log(arr);
            if (arr === undefined || arr.length === 0) {
                // console.log(1);
                return true
            } else {
                // console.log(2);
                return false
            }
            // console.log(arr);
        },
        cloneData(data) {
            return JSON.parse(JSON.stringify(data))
        },
        deletePop(str, namePop) {
            str = this.cloneData(str)
            namePop.map((item) => (str[item] === null || '' || undefined ? delete str[item] : ''))
            return str
        },
        autoIndex(index, start_rowindex = 0) {
            return  index + start_rowindex + 1
        },
        // date time
        changeDate(date) {
            // let time = new Date(date)
            date = this.addHours(date)
            date = date.split("T")[0]
            if (date.split('-')[0] !== '9999')
                return `${date.split('-')[2]}/${date.split('-')[1]}/${Number(date.split('-')[0]) + 543}`
            return date
        },
        changeDateTime(date) {
            date = this.addHours(date)
            time = date.split("T")[1]
            date = date.split("T")[0]
            time = `${time.split(":")[0]}:${time.split(":")[1]}`
            // console.log(time)
            if (date.split('-')[0] !== '9999')
                return `${date.split('-')[2]}/${date.split('-')[1]}/${Number(date.split('-')[0]) + 543} ${time}`
            return date
        },
        _checkData: function (val) {
            if (val !== undefined) {
                if (val.length > 0 || val !== undefined || val !== '') {
                    return false
                } else {
                    return true
                }
            } else {
                return true
            }

        },
        addHours(date, hours = 7) {
            date = this.cloneData(date)
            Date.prototype.addHours = function (h) {
                this.setTime(this.getTime() + (h * 60 * 60 * 1000));
                return this;
            }
            return new Date(date).addHours(hours).toISOString()
        },
        setHours(date, hours = 7) {

        }
    }

</script>