<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../layout/shared-styles.html">

<dom-module id="page-header">
    <template>
        <style include="shared-styles">

            /* .header{
                font-size: 2rem;
            } */

        </style>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="box-top">
                    <div class="header">[[label]]</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="box-top" style="text-align: right;">
                    <slot></slot>
                </div>
            </div>
        </div>
        <!-- <div class="white-space"></div> -->
    </template>
    <script>
        Polymer({
            is: 'page-header',
            properties: {
                label: {
                    type: String
                }
            }
        });
    </script>
</dom-module>