<link rel="import" href="../../../bower_components/vaadin-upload/vaadin-upload.html">

<link rel="import" href="../../redux-behavior.html">

<link rel="import" href="../../action/uploadAction.html">

<link rel="import" href="./month-behavior.html">

<link rel="import" href="../../layout/page-style.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">


<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="upload-file">
    <style include="page-style">

        paper-icon-button.crud:hover {
            background-color: var(--paper-grey-200);
            border-radius: 5px;
            box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, .2);
        }

        table.gl-table-default>tbody.table-body>tr>td {
            /*cursor: pointer;*/
            padding: 5px 15px;
        }
    </style>
    <template>
        <template is="dom-if" if="[[checkRefPath(refPath)]]">
            <vaadin-upload class="thick-border" id="preFill" target="[[target]]" method="POST" timeout="300000" accept="[[accept]]" on-upload-success="fileChanged"
                on-upload-request="_addHeader">
                <div class="drop-label">
                    <iron-icon icon="description"></iron-icon>
                    [[dropName]]
                </div>
            </vaadin-upload>
        </template>
        <template is="dom-if" if="[[!checkRefPath(refPath)]]">
            <div class="borderDrop">
                <iron-icon icon="description"></iron-icon>&nbsp;&nbsp;Upload Disabled.
            </div>
        </template>

        <div id="fileList" class="file-list">
            <div id="fileList">
                <h4>Files</h4>
                <table class="gl-table-default">
                    <thead class="table-head">
                        <tr>
                            <!-- <th>ลำดับ</th> -->
                            <th style="width:25%;">ประเภทไฟล์</th>
                            <th style="width:60%;">ชื่อไฟล์</th>
                            <th style="text-align: center;width:15%;">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <template is="dom-repeat" items={{listFiles}} as="files">
                            <template is="dom-repeat" items={{files.reduction}} as="file">
                                <tr>
                                    <!-- <td>ๅ</td> -->
                                    <td>[[files.group]]</td>
                                    <td>[[file.filename]]</td>
                                    <td  style="text-align: center;">
                                        <paper-icon-button class="crud" data="{{file}}" on-tap="downloadFile" icon="cloud-download"></paper-icon-button>
                                        <paper-icon-button class="crud" data="{{file}}" on-tap="_deleteFile" icon="delete"></paper-icon-button>
                                    </td>
                                </tr>

                            </template>

                        </template>


                    </tbody>
                </table>
                <!-- <template is="dom-repeat" items="[[listFiles]]" as="files">
                    [[files.group]]<br/>
                    <template is="dom-repeat" items={{files.reduction}} as="file">
                        [[file.filename]] <br/>
                        <vaadin-upload-file file="[[file]]" on-tap="downloadFile" style="cursor:pointer" file-id-upload="[[fileChanged(file.*)]]"
                            file-id="[[file.file_id]]" on-file-abort="_deleteFile"></vaadin-upload-file>
                    </template>
                </template> -->
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'upload-file',
            behaviors: [ReduxBehavior, uploadAction, MonthBehavior],
            properties: {
                target: {
                    type: String,
                    value: "",
                },
                accept: {
                    type: String,
                    value: "",
                },
                dropName: {
                    type: String,
                    value: "วางไฟล์ที่นี่"
                },
                refPath: {
                    type: String,
                    value: "",
                    // observer: 'getList'
                },
                docTypeId: {
                    type: String,
                    value: "",
                },
                dataType: {
                    type: String,
                    value: "",
                },
                companyTaxno: {
                    type: String,
                    value: "",
                },
                draftId: {
                    type: String,
                    value: ''
                },
                companyId: {
                    type: String,
                    value: "",
                    // observer: 'getList'
                },
                listFiles: {
                    statePath: 'upload.fileList',
                }

            },
            checkRefPath: function (refPath) {
                return (refPath != "")
            },
            fileChanged: function (fileChange) {

                if (fileChange.type === 'upload-success') {
                    let file = fileChange.detail.file
                    // console.log(this.draftId);
                    this.getList();
                    // console.log(1121212);
                    this.fire('toast', { status: 'success', text: `อัพโหลดไฟล์ ${file.name} สำเร็จ`, callback: () => { } })
                }
            },
            getList: function () {

                if (this.dataType !== undefined) {
                    // console.log(this.dataType);
                    let draft = 'sign'
                    // console.log(1111);
                    switch (this.dataType) {
                        case 'registerdraft':
                            draft = 'sign'
                            break;
                        case 'renewdraft':
                            draft = 'renew'
                            break;
                        case 'changedraft':
                            draft = 'change'
                            break;
                        default:
                            draft = ''
                            break;
                    }
                    if (this.companyTaxno === '' || this.companyTaxno === undefined) {
                        this.companyTaxno = ''
                    }
                    if (this.draftId === '' || this.draftId === undefined) {
                        this.draftId = ''
                    }
                    let url = {
                        draft_status: draft,
                        company_taxno: this.companyTaxno,
                        draft_id: this.draftId || '',
                        file_status: true,
                    }
                    // console.log(this.genUrl(url).length);
                    if (this.genUrl(url).length > 0) {
                        // console.log(5555);
                        this.dispatchAction('UPLOAD_GET_LIST', this.genUrl(url))
                    }
                }


            },
            _addHeader: function (e) {
                let draft = 'sign'
                // event.detail.xhr.setRequestHeader('ref-path', this.refPath);
                event.detail.xhr.setRequestHeader('doc-type-id', this.docTypeId);
                if (this.dataType === 'registerdraft') {
                    draft = 'sign'
                } else if (this.dataType === 'renewdraft') {
                    draft = 'renew'
                } else if (this.dataType === 'changedraft') {
                    draft = 'change'
                }
                event.detail.xhr.setRequestHeader('draft-status', draft)
                event.detail.xhr.setRequestHeader('company-taxno', this.companyTaxno)
                // console.log(this.companyTaxno);
                // console.log(this.draftId);
                event.detail.xhr.setRequestHeader('draft-id', this.draftId)
            },
            downloadFile: function (e) {
                try {
                    // console.log(e.currentTarget.data);
                    window.open('/api/file/download?file_id=' + e.currentTarget.data.file_id);
                } catch (error) {

                }
            },
            _deleteFile: function (e) {
                let file = e.currentTarget.data
                // console.log(e.currentTarget.data);
                // var idFile;
                // if (typeof e.target.fileId == "undefined") {
                //     // console.log(e.target.fileIdUpload);
                //     idFile = this.fileIdUpload
                // } else {
                //     idFile = e.target.fileId
                //     //   console.log("ID File = "+idFile);
                // }
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'คุณต้องการจะลบไฟล์ใช่หรือไม่ ?',
                    confirmed: (result) => {
                        let data = {
                            file_id: file.file_id,
                            file_status: false
                        }
                        if (result == true) {
                            this.dispatchAction('UPLOAD_DELETE_RECOVERY', data)
                                .then((response) => {
                                    // console.log(response);

                                    this.fire('toast', {
                                        status: 'success', text: 'ลบไฟล์สำเร็จ', callback: () => {
                                            this.getList()
                                            // console.log('success');
                                        }
                                    });
                                })
                                .catch(function (error) {
                                    // console.log(error);
                                });
                        } else {
                            this.getList();
                        }
                    }
                });
            }
        });
    </script>
</dom-module>