<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../components/page-panel.html">

<dom-module id="rice-manage">
    <template>
        <style include="shared-styles">

        </style>
        <div class="content">
            <page-panel label="กำหนดประเภทข้าว">
                <div class="section">
                    <paper-input label="ประเภทข้าว(ไทย)" placeholder="กำหนดชื่อประเภทข้าว(ไทย)"></paper-input>
                </div>
                <div class="section">
                    <paper-input label="ประเภทข้าว(อังกฤษ)" placeholder="กำหนดชื่อประเภทข้าว(อังกฤษ)"></paper-input>
                </div>
                <div class="row end-xs">
                    <div class="col-xs-6">
                        <div style="text-align: right">
                            <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
                            <paper-button class="gl-btn-success" raised>บันทึก</paper-button>
                        </div>
                    </div>
                </div>
            </page-panel>
            <!--<div class="material"> 
                <div class="content">
                    <div class="title">
                        กำหนดประเภทข้าว
                    </div>
                  
                </div>
            </div>-->
        </div>
    </template>
    <script>
        Polymer({
            is: 'rice-manage',
            properties: {
                status: {
                    observer: 'checkStatus'
                },
                data: {
                    observer: 'checkData'
                }
            },
            checkStatus: function (status) {
                if (status == 'add') {
                    this.active = true;
                    this.rice_eng = "";
                    this.rice_th = "";
                }
                else if (status == 'update') {
                    this.active = false;
                }
            },
            checkData: function (data) {
                this.rice_eng = data.query_name;
                this.rice_th = data.type_rice_name_th;
            },
            _checkform: function () {
                var dataCheck = Polymer.dom(this.root).querySelectorAll('gl-form-input').map(function (item) {
                    return item.validate();
                }.bind(this));
                const check = function (dataCheck) {
                    return dataCheck == true;
                }
                if (dataCheck.every(check) == true) {
                    this._getForSave();
                }
            },
            _getForSave: function () {
                var get
                if (this.status == 'add') {
                    get = {
                        query_name: this.rice_eng,
                        type_rice_name_th: this.rice_th
                    }
                    this.fire('post-data', get);
                }
                else if (this.status == 'update') {
                    get = {
                        id: this.data.id,
                        query_name: this.rice_eng,
                        type_rice_name_th: this.rice_th
                    }
                    this.fire('update-data', get);
                }
            },
            _confirmDelete: function () {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการยกเลิกใช่หรือไม่ ?',
                    confirmed: this._delDataList.bind(this)
                })
            },
            _delDataList: function (result) {
                if (result == true) {
                    this.fire('delete-data', this.data.id);
                }

            }
        });
    </script>
</dom-module>