<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../month-behavior.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../redux-behavior.html">
<link rel="import" href="../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="./../../components/custom-grid-zoom.html">


<dom-module id="quota-list">
   
    <template>
         <!--<style>
            vaadin-grid {
                height: 100vh;
            }
        </style>-->
        <style include="shared-styles">
            .textCenter{
                text-align: center;
            }
        </style>
        <custom-grid-zoom>
            <vaadin-grid slot="grid" id="material" items="{{data.type_rice}}">
                <template class="row-details">
                    <div class="row center-xs">
                            <template is="dom-repeat" items="{{item.quantity}}">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-4">
                                <div class="box">
                                    งวดที่ [[item.period]] เดือน [[getMonthName(item.month)]]
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="box">
                                    ปริมาณโควตา [[formatNumber(item.weight)]] ตัน
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </template>
                    </div>
                </template>
                <vaadin-grid-column width="100px">
                    <template class="header">
                        <div class="textCenter">
                            ประเภทข้าว
                        </div>
                    </template>
                    <template>
                        <div class="cell textCenter">
                            [[item.type_rice_name_th]]
                        </div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">ปริมาณโควตารวม</template>
                    <template>
                        <div class="cell">
                            [[formatNumber(item.amount)]] <br>
                            <!--<vaadin-combo-box no-label-float items="{{month}}"></vaadin-combo-box>-->
                        </div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">จัดการ</template>
                    <template>
                        <div class="cell">
                            <paper-checkbox checked="{{expanded}}">แสดงรายละเอียด</paper-checkbox>
                            <paper-icon-button disabled="[[item.state.close]]" icon="create" on-tap="dataSelect"></paper-icon-button>
                            <paper-icon-button disabled="[[item.state.close]]" id="[[item.quota_id]]" icon="delete" on-tap="confirmDelete"></paper-icon-button>
                            <paper-button hidden="[[item.state.close]]" class="gl-btn-danger" on-tap="closeQuota" raised>ปิดปีโควตา</paper-button> 
                        </div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
        </custom-grid-zoom>
    </template>
    <script>
        Polymer({
            is: 'quota-list',
            behaviors: [ReduxBehavior, FormatNumberBehavior, MonthBehavior],
            properties: {
                data: {
                    statePath: 'quota.list'
                },
                selectYear: {
                    type: String,
                    value: ''
                }
            },
            closeQuota:function(e){
                this.fire('toast',{ 
                    status:'openDialog',
                    text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                    confirmed:this.activeCloseQuota.bind(this),  
                    data:e.model.item 
                 })
            },
            activeCloseQuota:function(check,data){
                if(check == true){
                    this.fire('toast',{status:'load'});
                    this.dispatchAction('QUOTA_CLOSE',data.data.id)
                    .then((response)=>{
                        this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',
                        callback:function(){
                        }
                        });
                        this.dispatchAction('QUOTA_GET_QUOTA', this, this.selectYear);
                        // console.log('success!!');
                        // console.log(response.data);
                    })
                    .catch((error)=>{
                        this.fire('toast',{status:'connectError',text:'Error code 404 not found',
                        callback:function(){
                        }})
                        // console.log('error');
                        // console.log(error);
                    });
                }
            },
            dataSelect: function (e) {
                var id = e.model.item.quota_id
                // console.log(id);
                this.dispatchAction('QUOTA_SELECT', this, id)
                .then(()=>{
                    this.fire('open-panel')
                })
            },
            confirmDelete: function (e) {
                var id = e.currentTarget.id;
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการลบข้อมูลใช่หรือไม่ ?',
                    confirmed: this.deleteData.bind(this),
                    data: id
                })
            },
            deleteData: function (status, data) {
                if (status == true) {
                    // console.log(data.data);
                    this.fire('toast',{status:'load'});
                    this.dispatchAction('QUOTA_DELETE', data.data)
                        .then(function (response) {
                            this.dispatchAction('QUOTA_GET_YEAR')
                                .then(() => {
                                    
                                    this.dispatchAction('QUOTA_GET_QUOTA', this, this.selectYear);
                                })
                        }.bind(this))
                        .catch(function (error) {
                            // console.log({error});
                             this.fire('toast',{status:'connectError',text:error.response.data.error,
                             callback:function(){
                             }})
                        }.bind(this));
                }
            }
        });
    </script>
</dom-module>