<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="./../../components/nylon-input.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/page-panel.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="../../../redux-behavior.html">

<dom-module id="quota-manage">
    <template>
        <style include="shared-styles">
            .textRight {
                text-align: right;
            }

            vaadin-grid#material {
                height: auto;
            }

            paper-button {
                margin: 0;
            }
        </style>
        <page-panel>
            <div class="row around-xs">
                <div class="col-xs-3">
                    <div class="box">
                        <template is="dom-if" if="[[checkData_ID(data.id)]]">
                            <nylon-input label="กำหนดปีโควตา" always-float-label value="{{toBE(data.year)}}" disabled></nylon-input>
                        </template>
                        <template is="dom-if" if="[[!checkData_ID(data.id)]]">
                            <nylon-input label="กำหนดปีโควตา" always-float-label value="{{toBE(selectYear)}}" disabled></nylon-input>
                        </template>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <vaadin-combo-box id="form" label="ประเภทข้าว" items="{{typeRice}}" item-label-path="type_rice_name_th" item-value-path="id"
                            value="{{data.type_rice_id}}" on-change="getData" disabled="{{data.status}}" required></vaadin-combo-box>
                        <!-- <vaadin-combo-box id="form" label="ประเภทข้าว" items="{{typeRice}}" item-label-path="type_rice_name_th" item-value-path="id"
                            value="{{data.type_rice_id}}" on-change="getData" disabled="{{data.status}}" required auto-validate></vaadin-combo-box>  -->
                    </div>
                </div>

            </div>

            <div class="row around-xs">
                <div class="col-xs-3">
                    <div class="box">
                        <nylon-input id="form" label="ปริมาณโควตารวม" value="{{data.amount}}" format-number disabled="{{data.status}}" required></nylon-input>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <nylon-input id="form" label="ตัดออก" format-number value="{{data.amount_cut}}" disabled="{{data.status}}" required>
                        </nylon-input>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <nylon-input label="คงเหลือ" format-number value="{{data.amount_balance}}" disabled="{{data.status}}">
                        </nylon-input>
                    </div>
                </div>
            </div>

            <div class="row around-xs">
                <div class="col-xs-3">
                    <div class="box">
                        <nylon-input id="form" label="ปริมาณโควตาที่ใช้คำนวณ" value="{{data.amount_percent}}" disabled="{{data.status}}" required>
                            <div suffix>%</div>
                        </nylon-input>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <nylon-input label="ปริมาณการส่งออกผ่านกรมศุล" value="{{data.custom_percent_weight}}" disabled="{{data.status}}">
                            <div suffix>%</div>
                        </nylon-input>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <nylon-input label="มูลค่าการส่งออกผ่านกรมศุล" value="{{data.custom_percent_value}}" disabled="{{data.status}}">
                            <div suffix>%</div>
                        </nylon-input>
                    </div>
                </div>
            </div>
            <div class="white-space"></div>

            <div class="row end-xs">
                <div class="col-xs-10">
                    <div class="box">
                        <paper-button class="gl-btn-primary" on-tap="insertPeriod" hidden="{{data.status}}">
                            <!-- <iron-icon icon="add"></iron-icon> -->
                            เพิ่มงวด
                        </paper-button>
                        <paper-button class="gl-btn-primary" on-tap="mathData" hidden="{{data.status}}">
                            คำนวณ
                        </paper-button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <vaadin-grid id="material" items="{{data.quantity}}" size="200">
                        <vaadin-grid-column width="100px" flex-grow="0">
                            <template class="header">
                                <div class="cell" style="text-align:center">
                                    #
                                </div>
                            </template>
                            <template>
                                <div class="cell" style="text-align:center">
                                    งวดที่ {{cont(index)}}
                                </div>
                            </template>
                        </vaadin-grid-column>

                        <vaadin-grid-column>
                            <template class="header">เดือน</template>
                            <template>
                                <div class="cell">
                                    <vaadin-combo-box id="form2" no-label-float items="{{month}}" item-label-path="name" item-value-path="id" value="{{item.month}}"
                                        disabled="{{data.status}}" required></vaadin-combo-box>
                                </div>
                            </template>
                            <template class="footer">ยอดรวมโควตา</template>
                        </vaadin-grid-column>

                        <vaadin-grid-column>
                            <template class="header textRight">สัดส่วน %</template>
                            <template>
                                <div class="cell">
                                    <nylon-input class="textRight" id="form2" no-label-float value="{{item.percent}}" disabled="{{data.status}}" required></nylon-input>
                                </div>
                            </template>
                        </vaadin-grid-column>

                        <vaadin-grid-column width="150px">
                            <template class="header textRight">ปริมาณ (ตัน)</template>
                            <template>
                                <div class="cell">
                                    [[sumQuota(index,item.weight)]]
                                    <nylon-input class="textRight" id="form2" no-label-float value="{{item.weight}}" format-number disabled="{{data.status}}"
                                        required></nylon-input>
                                </div>
                            </template>
                            <template class="footer">
                                <div class="textRight">{{formatNumber(sumAnswer)}}</div>
                            </template>
                        </vaadin-grid-column>

                        <vaadin-grid-column width="100px" flex-grow="0">
                            <template class="header">
                                <div style="text-align:center">
                                    จัดการ
                                </div>
                            </template>
                            <template>
                                <div class="cell" style="text-align:center">
                                    <paper-icon-button icon="delete" index="{{index}}" on-tap="deletePeriod" disabled="{{data.status}}"></paper-icon-button>
                                </div>
                            </template>
                        </vaadin-grid-column>
                    </vaadin-grid>

                </div>
            </div>

            <div class="row end-xs">
                <div class="col-xs-6">
                    <div class="box" style="text-align:right">
                        <paper-button class="gl-btn-success" on-tap="confirmDialog" hidden="{{data.status}}" raised>บันทึก</paper-button>
                    </div>
                </div>
            </div>
        </page-panel>

    </template>
    <script>
        Polymer({
            is: 'quota-manage',
            behaviors: [ReduxBehavior, FormatNumberBehavior],
            observers: ['mathRatio(data.amount_percent)', 'mathBalance(data.amount,data.amount_cut)'],
            properties: {
                typeRice: {
                    statePath: 'commonData.quota_type_rice'
                },
                month: {
                    statePath: 'commonData.month'
                },
                data: {
                    statePath: 'quota.data',
                    observer: 'checkQuota'
                },
                selectYear: {
                    type: String,
                    value: ''
                },
                sumAnswer: {
                    type: Number,
                    value: 0
                },
                yearList: {
                    type: Array,
                    value: []
                }
            },
            toBE: function (val) {
                return val + 543;
            },
            checkData_ID: function (val) {
                // this.sumAnswer = 0;
                if (typeof val != 'undefined') {
                    return true
                }
                else {
                    this.sumAnswer = 0;
                    return false
                }
                // console.log(val);
            },
            checkQuota: function (val) {
                // this.formReset('#form');
                var sum = 0;
                this.data.quantity.map((item) => {
                    sum += this.unFormat(item.weight);
                })
                this.sumAnswer = sum;
            },
            sumQuota: function (index, val) {
                var sum = 0;
                this.data.quantity.map((item) => {
                    sum += this.unFormat(item.weight);
                })
                this.sumAnswer = sum;
            },
            cont: function (val) {
                return parseInt(val) + 1;
            },
            insertPeriod: function () {
                var obj = { weight: 0 }
                this.push('data.quantity', obj)
            },
            deletePeriod: function (e) {
                var index = e.target.index;
                this.splice('data.quantity', index, 1);
            },
            mathData: function () {
                var amount = this.unFormat(this.data.amount);
                this.data.quantity.map(function (item, index) {
                    var percent = parseInt(item.percent);
                    item.weight = (amount * percent) / 100;
                    this.set('data.quantity.' + index + '.weight', item.weight);
                }.bind(this))
            },
            setData: function () {
                this.set('data.quantity.0.weight', 100);
            },
            mathRatio: function (val) {
                if (val) {
                    var num = parseInt(val);
                    var result = (100 - num) / 2
                    this.set('data.custom_percent_value', result);
                    this.set('data.custom_percent_weight', result);
                }
            },
            mathBalance: function (amount, amount_cut) {
                if (amount && amount_cut) {
                    console.log('1235')
                    var _amount = this.unFormat(amount);
                    var _amount_cut = this.unFormat(amount_cut);
                    var answer = _amount - _amount_cut;
                    this.set('data.amount_balance', answer)
                }
            },
            validateForm: function () {
                var check = false;
                console.log(this.elementValidate('#form'), this.data.quantity.length)
                if (this.data.quantity.length != 0) {
                    check = true;
                    // console.log(this.elementValidate('#form2'))
                }
                else {
                    this.fire('toast', {
                        status: 'connectError', text: 'กรุณาเพิ่มงวด',
                        callback: function () {
                        }
                    })
                }
                return check
            },
            confirmDialog: function () {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการบันทึกข้อมูลใช่ไหม ?',
                    confirmed: this.getForm.bind(this)
                })
            },
            getForm: function (check) {
                if (check == true) {
                    if (this.validateForm() == true) {
                        var newData = {
                            // year: parseInt(this.data.year),
                            amount: this.unFormat(this.sumAnswer),
                            type_rice_id: this.data.type_rice_id,
                            amount_percent: parseInt(this.data.amount_percent),
                            amount_balance: this.unFormat(this.data.amount_balance),
                            amount_cut: this.unFormat(this.data.amount_cut),
                            custom_percent_value: this.unFormat(this.data.custom_percent_value),
                            custom_percent_weight: this.unFormat(this.data.custom_percent_weight)
                        }

                        newData.quantity = this.data.quantity.map((item, index) => {
                            item.period = index + 1;
                            item.month = parseInt(item.month);
                            item.percent = parseInt(item.percent);
                            item.weight = this.unFormat(item.weight);
                            return item;
                        })
                        console.log(newData);
                        // console.log(JSON.stringify(newData));
                        // console.log(this.selectYear);
                        if (typeof this.data.id == 'undefined') {
                            newData.year = parseInt(this.selectYear);
                            this.fire('toast', { status: 'load' });
                            this.dispatchAction('QUOTA_INSERT', newData)
                                .then((res) => {
                                    // this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',
                                    //   callback:()=>{
                                    this.dispatchAction('QUOTA_GET_YEAR');
                                    this.dispatchAction('QUOTA_GET_QUOTA', this, this.selectYear);
                                    //   }
                                    //  });
                                })
                                .catch(function (error) {
                                    this.fire('toast', {
                                        status: 'connectError', text: error.message,
                                        callback: function () {
                                        }
                                    })
                                    console.log(error);
                                })
                        }
                        else {
                            newData.id = this.data.id;
                            newData.year = parseInt(this.data.year);
                            var select =  this.fire('get-properties');
                            this.dispatchAction('QUOTA_UPDATE', newData)
                                .then(function (res) {
                                    this.dispatchAction('QUOTA_GET_QUOTA', this, this.selectYear);
                                }.bind(this))
                                .catch(function (error) {
                                     this.fire('toast',{status:'connectError',text:error.message,
                                     callback:function(){
                                     }})
                                    console.log(error);
                                })
                        }
                    }
                }
            },
            getData: function (e) {
                // console.log(year,type_rice);
                if (typeof this.data.id == 'undefined') {
                    var obj = {
                        year: parseInt(this.selectYear) - 1,
                        type_rice: e.currentTarget.value
                    }
                    this.dispatchAction('QUOTA_GET_BEFORE_DATA', obj)
                    // var beforeYear = parseInt(year)-1;
                    // console.log(obj)
                }

                // this.dispatchAction('QUOTA_GET_BEFORE_DATA',)
            },
            elementValidate: function (val) {
                var item = Polymer.dom(this.root).querySelectorAll(val).map(function (item) {
                    return item.validate();
                })
                return item.every(check => check == true);
            }


        });
    </script>
</dom-module>