<dom-module id="company-manage">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 20px 0px 20px 0px;
    }
    paper-icon-button {
      margin-top: 20px;
    }
    .padding {
      padding: 20px;
    }
    .text {
      margin-top: 25px;
      font-size: var(--font-size-h5);
    }
  </style>
  <template>
    <div class="horizontal end-justified layout">
      <div hidden="{{isEnabled}}">
        <paper-icon-button icon="create" on-tap="editChange" title="แก้ไขข้อมูล"></paper-icon-button>
      </div>
    </div>

    <gl-form-panel set-border="1px" set-padding="10px 10px 10px 10px">
      <div class="title">ข้อมูลรายละเอียด</div>

      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="เลขประจำตัวผู้เสียภาษี :" value="{{data.company_taxno}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="ชื่อบริษัท :" value="{{data.company_name_th}}" disabled="{{enabled}}"></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="ชื่อบริษัท (อังกฤษ) :" value="{{data.company_name_en}}" disabled="{{enabled}}"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="ที่อยู่ :" value="{{data.company_address_th}}" disabled="{{enabled}}"></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="ที่อยู่ (อังกฤษ) :" value="{{data.company_address_en}}" disabled="{{enabled}}"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="หมายเลขโทรศัพท์ :" value="{{data.company_phone}}" disabled="{{enabled}}"></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="FAX :" value="{{data.company_fax}}" disabled="{{enabled}}"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
      <div class="horizontal layout">
        <div class="text">รายชื่อคณะกรรมการ</div>
        <div hidden="[[enabled]]"><paper-icon-button icon="icons:add-circle" on-tap="_addAgent"></paper-icon-button></div> 
      </div>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <template is="dom-repeat" items="{{data.company_agent}}">
            <gl-form-input label="ชื่อกรรมการ" auto-validate error-message="กรุณาใส่ชื่อคณะกรรมการ" required value="{{item.agent_name}}"
              no-label-float disabled="{{enabled}}"></gl-form-input>
          </template>
        </gl-grid-col>
      </gl-grid-row>

    </gl-form-panel>

    <div class="horizontal end-justified layout">
      <div hidden="[[enabled]]">
        <paper-button on-tap="_cancel" raised title="ย้อนกลับ">ย้อนกลับ</paper-button>
        <paper-button class="gl-btn-success" on-tap="_save" raised title="บันทึก">บันทึก</paper-button> 
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "company-manage",
      behaviors: [nylonBehavior, dataBehavior],
      properties: {
        data: {
          type: Object,
          notify: true
        },
        isEnabled: {
          type: Boolean,
          value: true
        },
        enabled: {
          type: Boolean,
          value: true
        }
      },
      editChange:function(){
        this.isEnabled = true;
        this.enabled = false;
      },
      _addAgent:function() {
        this.push('data.company_agent', {
          agent_name: ''
        });
      },
      _cancel:function(){
        this.clearData(this.data.company_taxno);
        this.fire('get-company', this.data.company_taxno);
      },
      _save:function(){
        for(var key in this.data){
          if(this.data[key] === '-'){
            this.data[key] = "";
          }
        }
        delete this.data['date_exported']
        delete this.data['company_name']
        this.fire('toast',{status:'dialog',
        text:'คุณต้องการแก้ไขข้อมูลใช่หรือไม่ ?',
        confirmed : this._confirmSave.bind(this),
        datas : this.data
        });
      },
      _confirmSave:function(result,detail){
        if(result == true){
          // console.log(detail.datas);
          this.update('./external/company/update', detail.datas, () => {
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback: () => {
              this.clearData(detail.datas.company_taxno);
              this.fire('refresh-company');
            }});
          });
        }
      },
      clearData:function(val){
        this.isEnabled = false;
        this.enabled = true;
        this.fire('get-company', val);
      }
    });
  </script>
</dom-module>