
<link rel="import" href="./../../components/page-panel.html">
<link rel="import" href="./over-pay.html">
<link rel="import" href="./../../../layout/shared-styles.html">

<dom-module id="fee-manage">
	<template>
		<style include="shared-styles">
			*{
				text-align: left;
			}
		</style>
		<page-panel label="รายการออกใบเสร็จ">
			<fee-list data="[[data.ecSelect]]" show-data="true"></fee-list>
		</page-panel>
		<div class="white-space"></div>
		<page-panel label="ชำระเงิน">
			 <over-pay data="[[data]]" list-bank="[[listBank]]"></over-pay>
		</page-panel>
	</template>
	<script>
        Polymer({
            is: 'fee-manage'
        });
    </script>
</dom-module>