<link rel="import" href="../../components/format-number-behavior.html">
<!--<link rel="import" href="./../../components/data-manage-behavior.html">-->
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<!--<link rel="import" href="../../../redux-behavior.html">-->
<link rel="import" href="../../../redux-behavior.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./../../components/custom-grid-zoom.html">

<dom-module id="calculate-list">
    <template>
        <style include="shared-styles">
            vaadin-grid#material {
                 height: auto;
                /* height: calc(100vh - var(--set-dynamic-height) - 107px); */

                --vaadin-grid-header-cell: {
                    font-size: 14px;
                    height: 40px;
                    font-weight: bold;
                }
                --vaadin-grid-body-cell: {
                    font-size: 14px;
                    height: 40px;
                    /*padding:0px;*/
                }
                --vaadin-grid-footer-cell: {
                    font-size: 14px;
                    height: 40px;
                    font-weight: bold;
                }
            }
            .textCenter {
                text-align: center;
            }
            .textRight {
                text-align: right;
            }

            /* .textCenter {
                text-align: center;
            }

            .textRight {
                text-align: right;
            }

            .xxx {
                background-color: #3399ff;
            }


            vaadin-grid#material {

                --vaadin-grid-header-cell: {
                    border-bottom: 1px solid #d4d4d4;
                    word-wrap: break-word;
                    background-image: linear-gradient(to bottom, #fafafa 2%, #efefef 98%);
                    height: 30px;
                    font-size:0.8rem;
                    text-align:left;
                };

                --vaadin-grid-body-cell: {
                    font-size:0.8rem;
                    padding:0px;
                };

                

            }

            vaadin-grid#material .header-content {
                display: flex;
                padding: 16px;
                height: 100px;
                justify-content: space-between;
            }
             */
        </style>
        <custom-grid-zoom>
            <vaadin-grid slot="grid" id="material" items="[[list.list]]">
                <vaadin-grid-column-group>

                    <!--<template class="header">
                        <div class="header-content">
                            <b>1-200 of 15,554</b>
                            <input placeholder="Search profiles" focus-target>
                        </div>
                    </template>-->
                    <vaadin-grid-column width="50px">
                        <template class="header">
                            <div style="padding-left:5px">ครั้งที่</div>
                        </template>
                        <template>
                            <div style="padding-left:5px">[[item.ordinal]]</div>
                        </template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="80px">
                        <template class="header">
                            <div class="textRight">ยอดรายงาน</div>
                        </template>
                        <template>
                            <div class="textRight">[[formatNumber(item.report)]]</div>
                        </template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="100px">
                        <template class="header">
                            <div class="textRight">ยอดการคำนวน</div>
                        </template>
                        <template>
                            <div class="textRight">[[formatNumber(item.calculate)]]</div>
                        </template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="120px">
                        <template class="header">
                            <div class="textRight">ยอดโควตาที่เคยได้รับ</div>
                        </template>
                        <template>
                            <div class="textRight">[[formatNumber(item.confirm)]]</div>
                        </template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="120px">
                        <template class="header">
                            <div class="textRight">ปริมาณโควตา</div>
                        </template>
                        <template>
                            <div class="textRight">[[formatNumber(item.amount_cal)]]</div>
                        </template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="150px">
                        <template class="header">
                            <div class="textRight">ปริมาณโควตา (ปรับปรุง)</div>
                        </template>
                        <template>
                            <div class="textRight">[[formatNumber(item.amount_update)]]</div>
                        </template>
                    </vaadin-grid-column>
                    <vaadin-grid-column width="200px">
                        <template class="header">
                            <div class="textCenter">สถานะ</div>
                        </template>
                        <template>
                            <div class="textCenter">
                                [[convertStatus(item.status)]]
                                <!--<paper-button class="gl-btn-success" on-tap="confirmOrdinal" disabled="[[checkStatus(item.status)]]" raised>อนุมัติ</paper-button>-->
                            </div>
                        </template>
                    </vaadin-grid-column>


                    <vaadin-grid-column width="140px">
                        <template class="header">
                            <div class="textCenter">จัดการ</div>
                        </template>
                        <template>
                            <div class="textCenter">
                                <paper-icon-button icon="create" on-tap="selectData"></paper-icon-button>
                                <paper-icon-button icon="delete" disabled="[[checkStatus(item.status)]]" on-tap="confirmDelete"></paper-icon-button>
                            </div>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
            </vaadin-grid>
        </custom-grid-zoom>
    </template>
    <script>
        Polymer({
            is: 'calculate-list',
            behaviors: [FormatNumberBehavior, ReduxBehavior],
            properties: {
                list: {
                    type: Array,
                    value: []
                },
                year: {
                    type: String,
                    value: ''
                }
            },
            selectData: function (e) {
                // console.log(e.model.item.id);
                var id = e.model.item.id;
                var year = this.year;
                // this.dispatchAction('CALCULATE_SELECT',id);
                this.fire('nylon-change-page', { path: `/calculate-detail/${year}/${id}` })
            },
            confirmDelete: function (e) {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการลบข้อมูลใช่หรือไม่ ?',
                    confirmed: this.deleteData.bind(this),
                    data: e.model.item.id
                })
            },
            deleteData: function (check, val) {
                if (check == true) {
                    // console.log(check,val);
                    this.dispatchAction('CALCULATE_DELETE', val.data, this.year)
                }
            },
            confirmOrdinal: function (e) {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการอนุมัติใช่หรือไม่ ?',
                    confirmed: this.confirm.bind(this),
                    el: this,
                    data: e.model.item.id
                })
                // console.log(e.model.item.id);
            },
            confirm: function (check, data) {
                if (check == true) {
                    this.dispatchAction('CALCULATE_CONFIRM_ORINAL', data.data)
                        .then(function () {
                            this.fire('toast', {
                                status: 'success', text: 'บันทึกสำเร็จ',
                                callback: function () {
                                    this.dispatchAction('CALCULATE_GET_DATA', this.year);
                                    // this.dispatch Action('CALCULATE_SELECT', data.data);
                                }.bind(this)
                            });
                        }.bind(this))
                }
            },
            checkStatus: function (val) {
                if (val == 'a' || val == 'n' || val == 'cf') {
                    return true;
                }
                else {
                    return false;
                }
            },
            convertStatus:function(val){
                if(val == 'c') return 'คำนวณ';
                else if (val == 'n') return 'ออกประกาศ';
                else if (val == 'cf') return 'ยืนยันส่วนจัดสรร';
                else if (val == 'a') return 'อนุมัติการคำนวณแล้ว'
                return val
            }
        });
    </script>
</dom-module>