<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../components/page-panel.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../redux-behavior.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">

<dom-module id="calculate-setting">
  <template>
    <style is="custom-style" include="shared-styles">
      .listBox {
        border: 1px solid #ddd;
      }
      
      .textContent {
        margin-top: 10px;
      }
  </style>
    <div class="content">
      <div class="section">
        <page-panel label="ตั้งค่าการคำนวณ">
          <div class="row around-xs">
            <div class="col-xs-4">
              <div class="box">
                <paper-input label="ปีโควตา" value="{{data.year}}"></paper-input>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="box">
                <vaadin-combo-box label="ประเภทข้าว" items="[[typeRice]]" item-label-path="type_rice_name_th" item-value-path="id" value="{{data.type_rice_id}}"></vaadin-combo-box>
              </div>
            </div>
          </div>
        </page-panel>
      </div>

      <div class="section">
        <page-panel label="ค้นหารายชื่อบริษัททั้งหมดที่ทำการบันทึกประวัติเพื่อคำนวณ">

          <div class="row around-xs">
            <div class="col-xs-4">
              <div class="box">
                <vaadin-combo-box label="ตั้งแต่ปี"></vaadin-combo-box>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="box">
                <vaadin-combo-box label="ถึงปี"></vaadin-combo-box>
              </div>
            </div>
          </div>

          <paper-listbox class="listBox section">
            <paper-item class="headBox">
              <paper-checkbox checked></paper-checkbox>เลือกทั้งหมด
            </paper-item>
            <template is="dom-repeat" items="[[listCompany]]">
              <paper-item>
                <paper-checkbox></paper-checkbox>{{item.name}}
              </paper-item>
            </template>
          </paper-listbox>
        </page-panel>
      </div>

      <div class="section">
        <page-panel label="ผลการคำนวณ">
          <div class="row around-xs section">
            <div class="col-xs-4">
              <div class="box textContent">
                ยอดรวมการส่งออกที่ผ่านมา
              </div>
            </div>
            <div class="col-xs-4">
              <div class="box">
                <paper-input allowed-pattern="[0-9||,||.]" no-label-float value="{{sumAnswer.sum_export}}" readonly>
                  <div suffix>ตัน</div>
                </paper-input>
              </div>
            </div>
          </div>

          <div class="row around-xs section">
            <div class="col-xs-4">
              <div class="box textContent">
                ยอดรวมโควตาที่เคยได้รับ
              </div>
            </div>
            <div class="col-xs-4">
              <div class="box">
                <paper-input allowed-pattern="[0-9||,||.]" no-label-float value="{{sumAnswer.sum_export}}" readonly>
                  <div suffix>ตัน</div>
                </paper-input>
              </div>
            </div>
          </div>

          <div class="row around-xs section">
            <div class="col-xs-4">
              <div class="box textContent">
                ยอดรวมประวัติการส่งออกเพื่อคำนวณส่วนจัดสรร
              </div>
            </div>
            <div class="col-xs-4">
              <div class="box">
                <paper-input allowed-pattern="[0-9||,||.]" no-label-float value="{{sumAnswer.sum_export}}" readonly>
                  <div suffix>ตัน</div>
                </paper-input>
              </div>
            </div>
          </div>

          <div class="row around-xs section">
            <div class="col-xs-4">
              <div class="box textContent">
                ยอดรวมประวัติการส่งออกเพื่อคำนวณส่วนจัดสรร
              </div>
            </div>
            <div class="col-xs-4">
              <div class="box">
                <paper-input allowed-pattern="[0-9||,||.]" no-label-float value="{{sumAnswer.sum_export}}" readonly>
                  <div suffix>ตัน</div>
                </paper-input>
              </div>
            </div>
          </div>

          <div class="row around-xs section">
            <div class="col-xs-4">
              <div class="box textContent">
                ปริมาณโควตา 100%
              </div>
            </div>
            <div class="col-xs-4">
              <div class="box">
                <paper-input allowed-pattern="[0-9||,||.]" no-label-float value="{{sumAnswer.sum_export}}" readonly>
                  <div suffix>ตัน</div>
                </paper-input>
              </div>
            </div>
          </div>

          <div class="row end-xs">
            <div class="col-xs-6">
              <div class="box" style="text-align:right">
                <paper-button class="gl-btn-success" hidden$="{{activeSave}}" on-tap="_saveData" raised>บันทึก</paper-button>
              </div>
            </div>
          </div>
        </page-panel>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "calculate-setting",
      behaviors: [ReduxBehavior],
      properties: {
        typeRice:{
          statePath:'commonData.type_rice'
        },
        listCompany:Array,
        activeSave:Boolean
      }
    });
  </script>
</dom-module>