<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/page-panel.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="./../../components/nylon-input.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="../../../month-behavior.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="../../../redux-behavior.html">
<link rel="import" href="./../../components/custom-grid-zoom.html">

<dom-module id="status-list">
    <template>
        <style include="shared-styles"></style>
        <custom-grid-zoom>
        <vaadin-grid slot="grid" id="material" items="{{data}}" size="200">
            
            <vaadin-grid-column width="250px">
                <template class="header">
                    <div class="cell" style="text-align:center">
                        <!--<template is="dom-repeat" items="{{item.quantity}}">-->
                            งวดที่/เดือน
                        <!--</template>-->
                    </div>
                </template>
                <template>
                    <!--<template is="dom-repeat" items="{{item.quantity}}">-->
                        <div class="cell" style="text-align:center">
                           งวดที่ {{item.period}} เดือน {{getMonthName(item.month)}} 
                        </div>
                    <!--</template>-->
                </template>
                <!--<template class="footer">#</template>-->
            </vaadin-grid-column>

            <vaadin-grid-column width="140px">
                <template class="header">
                    <div class="cell">
                        ยอดยกมา
                    </div>
                </template>
                <template>
                    <div class="cell">
                       {{formatNumber(item.income)}}
                    </div>
                </template>
                <!--<template class="footer">#</template>-->
            </vaadin-grid-column>

            <vaadin-grid-column width="200px">
                <template class="header">
                    <div class="cell">
                        ปริมาณโควตา
                    </div>
                </template>
                <template>
                    <div class="cell">
                        {{formatNumber(item.weight)}}
                    </div>
                </template>
                <!--<template class="footer">#</template>-->
            </vaadin-grid-column>

            <vaadin-grid-column width="200px">
                <template class="header">
                    <div class="cell">
                        ปริมาณที่ขอจาก EC
                    </div>
                </template>
                <template>
                    <div class="cell">
                        <nylon-input on-input="mathData" item="{{item}}" index="{{index}}" no-label-float format-number disabled="{{item.status}}" value="{{item.amount_report}}"></nylon-input>
                    </div>
                </template>
                <!--<template class="footer">#</template>-->
            </vaadin-grid-column>

            <vaadin-grid-column width="140px">
                <template class="header">
                    <div class="cell">
                        คงเหลือ
                    </div>
                </template>
                <template>
                    <div class="cell">
                        {{formatNumber(item.sum)}}
                      
                    </div>
                </template>
                <!--<template class="footer">#</template>-->
            </vaadin-grid-column>

            <vaadin-grid-column width="140px">
                <template class="header">
                    <div class="cell">
                        ยอดยกไป
                    </div>
                </template>
                <template>
                    <div class="cell">
                        {{formatNumber(item.getout)}}
                    </div>
                </template>
                <!--<template class="footer">#</template>-->
            </vaadin-grid-column>

            <vaadin-grid-column width="200px">
                <template class="header">
                    <div class="cell">
                        จัดการ
                    </div>
                </template>
                <template>
                    <template is="dom-if" if="[[checkIndex(index,data)]]">
                        <div class="cell">
                            <paper-button raised item="{{item}}" on-tap="openPanel" hidden="{{!item.special_period}}">จัดการบริษัท</paper-button>
                            <paper-button raised index="{{index}}" item="{{item}}" on-tap="colsePeriod" disabled="{{item.status}}">ปิดงวด</paper-button>
                        </div>
                    </template>
                    <template is="dom-if" if="[[!checkIndex(index,data)]]">
                        <div class="cell">
                            <!--<paper-button raised index="{{index}}" item="{{item}}" on-tap="colseFinalPeriod" hidden="{{item.status}}">ปิดงวด</paper-button>-->
                        </div>
                        <div class="cell">
                            <paper-button raised item="{{item}}" on-tap="openPeriod">เปิดงวดพิเศษ</paper-button>
                        </div>
                    </template>
                </template>
                <!--<template class="footer">#</template>-->
            </vaadin-grid-column>
        </vaadin-grid>
        </custom-grid-zoom>
        
    </template>
    <script>
        Polymer({
            is: 'status-list',
            behaviors:[ReduxBehavior,FormatNumberBehavior,MonthBehavior],
            properties:{
               data:{
                    statePath:'status.data'
                }
            },
            openPanel:function(){
                this.fire('open-panel');
            },  
            mathData:function(e){
                var element = e.target;
                var report = this.unFormat(element.item.amount_report);
                var weight = element.item.weight;
                var index = element.index;
                var income = element.item.income;
                var answer = (weight+income)-report;
                this.set('data.'+index+'.sum',answer);
            },
            checkIndex:function(val){
                if(this.data.length == (val+1)){
                    var max = this.data.length-1;
                    if(this.data[max].getout != 0){
                        return false;
                    }
                    else {
                        return true
                    }
                }
                else{
                    return true
                }
            },
            openPeriod:function(e){
                var element = e.target.item;
                var newItem = {
                    amount_report : 0,
                    getout : 0,
                    income : element.sum,
                    month : 0,
                    percent : 0,
                    period : element.period+1,
                    quota_id: element.quota_id,
                    status : false,
                    sum : 0,
                    type_rice_id : element.type_rice_id,
                    weight : 0,
                    year : element.year,
                    special_period : true,
                    exporter:[]
                }
                this.dispatchAction('STATUS_INSERT',this,newItem,this.dataSelect.year,this.dataSelect.type_rice)
                // console.log(newItem);
            },
            colsePeriod:function(e){
                var element = e.target;
                var index = e.target.index;
                var newData = this.data[index];
                var sendData = [];
                var newData2 = {};
                if(typeof this.selectExporter == 'undefined') this.selectExporter = [];
                newData.exporter = this.selectExporter.map(function(item){
                    var newItem = item;
                    newItem.transfer = this.unFormat(item.transfer);
                    return newItem
                }.bind(this));
                if(this.data.length == (index+1)){
                    newData2.id = "";
                    newData2.income = this.data[index].sum;
                }
                else{
                    newData2.id = this.data[index+1].id;
                    newData2.income = this.data[index].sum;
                }
                this.set('data.'+index+'.getout',newData.sum);
                newData.amount_report = this.unFormat(this.data[index].amount_report);
                newData.status = true;
                newData.special_period = false;
                sendData[0] = newData;
                sendData[1] = newData2;
                // console.log(sendData);
                this.dispatchAction('STATUS_UPDATE',this,sendData,this.dataSelect.year,this.dataSelect.type_rice);
            }
        });
    </script>
</dom-module>