<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/page-panel.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../../components/nylon-input.html">
<link rel="import" href="../../../layout/flexbox-grid.html">
<link rel="import" href="../../../../bower_components/gl-styles/gl-color.html">
<link rel="import" href="../../../redux-behavior.html">

<link rel="import" href="./../../components/format-number-behavior.html">

<link rel="import" href="./../../components/input-item.html">

<dom-module id="status-exporter">
    <template>
        <style include="shared-style flexbox-grid gl-color"></style>
        <div class="container">
            <page-panel>
                <div class="container">
                    <template is="dom-repeat" items="[[data]]">
                        <div class="row around-xs">
                            <div class="col-xs-4">
                                <div class="box">
                                    <input-item label="เลือกบริษัท"></input-item>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="box">
                                    <nylon-input label="ปริมาณ" format-number value="{{item.transfer}}"></nylon-input>
                                    <!--<paper-icon-button icon="delete"></paper-icon-button>-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="row center-xs">
                            <div class="col-xs-10">
                                <div class="box">
                                    <input-item label="เลือกบริษัท"></input-item>
                                </div>
                                <div class="box">
                                    <nylon-input format-number value="{{item.transfer}}"></nylon-input>
                                </div>
                            </div>
                        </div>-->
                    </template>
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <div class="box">
                                <paper-button style="width:100%" class="gl-btn-primary" on-tap="addExporter" raised>
                                    <iron-icon icon="add"></iron-icon>
                                    เพิ่มบริษัท
                                </paper-button>
                            </div>
                        </div>
                    </div>
                </div>
            </page-panel>
            <div class="row end-xs">
                <div class="col-xs-6">
                    <div class="box">
                        <paper-button class="gl-btn-success" on-tap="saveExporter" raised>บันทึก</paper-button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'status-exporter',
            behaviors: [ReduxBehavior,FormatNumberBehavior],
            properties: {
                exporter: {
                    statePath: 'commonData.company'
                },
                data: {
                    type: Array,
                    value: [
                        {
                            exporter_id: '',
                            transfer: 0
                        }
                    ]
                }
            },
            addExporter: function () {
                this.push('data', { exporter_id: '', transfer: 0 });
            },
            saveExporter: function () {
                console.log(this.data)
                this.fire('toast', { status: 'load' });
                var exporter_id = Polymer.dom(this.root).querySelectorAll('input-item').map(function(item){
                    return item.getValuePath('company_taxno')
                })
                var newItem = this.data.map((item,num)=>{
                    item.transfer = this.unFormat(item.transfer);
                    item.exporter_id = exporter_id[num];
                    return item
                })
                console.log(newItem)
                this.fire('get-exporter', newItem)
            }
        });
    </script>
</dom-module>