<link rel="import" href="detail-member.html">

<dom-module id="confirm-member">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color gl-table gl-toast">
    * {
        font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    .marginCheckbox{
      margin: 10px 0px 0px 30px;
    }
    .searchBorder{
      border: 1px solid var(--gl-gray-light-color);
      margin: 15px;
      border-radius: 3px;
    }
    .text-table{
      text-align: center;
       font-size: var(--font-size-h4);
    }
    .gl-table-default{
         border-collapse: collapse;
         width: 100%;
         white-space: nowrap;
     }
     paper-tabs{
       background-color: #f7941e;
       margin : 0px 15px 0px 15px;
       color: #F2F2F2;
       --paper-tabs-selection-bar:{
         height: 5px;
         background-color: var(--gl-info-color);
       }
     }
     paper-tab:focus > div.tab-content{
       background-color: yellow;
       opacity: 1;
       font-weight: 0;
     }
     paper-tab:not(:last-of-type) {
       border-right: 3px solid var(--gl-gray-light-color);
       font-size: var(--font-size-h5);
       /*font-family: 'rsubold', sans-serif;
       -webkit-font-smoothing: antialiased;*/
     }
     paper-tabs paper-tab.iron-selected {
       font-size: var(--font-size-h5);
       color: var(--gl-white-color);
       background-color: var(--gl-info-color);
     }
     .table-head > tr > th:nth-child(2) {
       width: 15%;
     }
  </style>
  <template>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="listExporter">
        <div class="horizontal layout justified">
          <div>
            <paper-checkbox class="marginCheckbox" checked={{selectDataAll}}>{{localize('ck_select_all')}}</paper-checkbox>
          </div>
          <div>
            {{localize('bt_print_book')}}<paper-icon-button icon="print" on-tap="_print" title="{{localize('bt_print_book')}}"></paper-icon-button>
          </div>
        </div>
        <div class="searchBorder" style="overflow-x:auto;">
          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th></th>
                <th><div class="text-table">{{localize('no_exporter')}}</div></th>
                <th><div class="text-table">{{localize('name_company')}}</div></th>
                <th><div class="text-table">{{localize('type_license')}}</div></th>
                <th><div class="text-table">{{localize('date_register')}}</div></th>
                <th><div class="text-table">{{localize('status')}}</div></th>
              </tr>
            </thead>


            <template is="dom-repeat" items="{{sellers}}">
              <tbody>
                <tr style="cursor:pointer;">
                  <td><paper-checkbox checked="{{item.check}}" class="checkbox"></paper-checkbox></td>
                  <td style="text-align:center"><gl-form-input value="{{item.exporter_no}}" on-blur="changeNo" data="[[item]]" allowed-pattern="[0-9]"></gl-form-input></td>
                  <!-- <td on-tap="_selectData" data="[[item]]"><div class="text-table">{{item.exporter_no_name}}</div></td> -->
                  <td on-tap="_selectData" data="[[item]]"><div class="text-table">{{item.seller_name_th}}</div></td>
                  <td on-tap="_selectData" data="[[item]]"><div class="text-table">{{item.type_lic_name}}</div></td>
                  <td on-tap="_selectData" data="[[item]]"><div class="text-table">{{item.date_created}}</div></td>
                  <td on-tap="_selectData" data="[[item]]"><div class="text-table">{{item.approve_status_name}}</div></td>
                </tr>
              </tbody>
            </template>
          </table>
        </div>
        <div class="horizontal layout end-justified">
          <paper-button class="gl-btn-danger" on-tap="_close" raised>{{localize('bt_cancel')}}</paper-button>
          <paper-button class="gl-btn-success" style="margin-right:15px" on-tap="_approveAll" raised>{{localize('bt_approve')}}</paper-button>
        </div>
      </div>

      <div name="detailExporter">
        <!-- <detail-member data={{dataSelect}}></detail-member> -->
        <paper-tabs selected="{{pages}}" align-bottom no-slide>
            <paper-tab>{{localize('detail')}}</paper-tab>
            <paper-tab id="tabFile">{{localize('doc_ev')}}</paper-tab>
        </paper-tabs>
        <gl-form-panel>
          <iron-pages selected="{{pages}}">
              <detail-member data={{dataSelect}}></detail-member>
              <register-fileup data="{{dataSelect}}" doc-type="[[docType]]"></register-fileup>
          </iron-pages>
        </gl-form-panel>
        <div class="horizontal layout justified">
          <div>
            <paper-button id="btreject" class="gl-btn-warning" style="margin-right:15px" on-tap="_dialogRemark" raised>{{localize('bt_incom_doc')}}</paper-button>
          </div>
          <div>
            <paper-button class="gl-btn-danger" on-tap="_backPage" raised>{{localize('bt_cancel')}}</paper-button>
            <paper-button id="btsave" class="gl-btn-success" style="margin-right:15px" on-tap="_save" raised>{{localize('bt_save')}}</paper-button>
            <paper-button id="btapprove" class="gl-btn-success" style="margin-right:15px" on-tap="approve" raised>{{localize('bt_approve')}}</paper-button>
          </div>
        </div>
      </div>
    </iron-pages>

    <paper-dialog id="dialog" style="width:60%;">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
          <gl-form-textarea label="{{localize('note')}} : " always-float-label value="{{seller_remark}}"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>
      <div>
        <paper-button class="gl-btn-danger button-size" raised on-tap="_dialogcancle">{{localize('bt_cancel')}}</paper-button>
        <paper-button class="gl-btn-primary button-size" raised on-tap="_reject">{{localize('bt_save')}}</paper-button>
      </div>
    </paper-dialog>

  </template>
  <script>
    Polymer({
      is: "confirm-member",
      properties: {
        pages:{
          type: String,
          value: 0
        },
        pageSelected: {
          type: String,
          value:'listExporter'
        },
        dataSelected:{
          type:Object,
          value:{}
        },
        data:{
          type: Array,
          value: []
        },
        selectDataAll: {
          type: Boolean,
          value: false,
          observer: '_changeselectDataAll'
        }
      },
      behaviors: [dataBehavior, nylonLocalizeBehavior, nylonBehavior],
      created:function(){
          this.nylonLocalizeImport('/i18n-page-report-exporter.json');
      },
      _selectData:function(e){
        this.pageSelected = "detailExporter";
        this.dataSelect = e.currentTarget.data;
        if (this.dataSelect.approve_status == 'process') {
          this.$$('#btreject').setAttribute("hidden", "hidden");
          this.$$('#btsave').setAttribute("hidden", "hidden");
          this.$$('#btapprove').removeAttribute("hidden");
        }
        else {
          this.$$('#btreject').removeAttribute("hidden");
          this.$$('#btsave').removeAttribute("hidden");
          this.$$('#btapprove').setAttribute("hidden", "hidden");


        }
      },
      _backPage:function (data) {
        this.pageSelected='listExporter';
        this.pages = 0;
      },
      _save:function () {
        this.fire('toast',{status:'dialog',
        text:'เอกสารครบถ้วนแล้วใช่หรือไม่ ?',
        confirmed : this._confirmProcess.bind(this),
        datas : {
          id : this.dataSelect.id,
          seller_id : this.dataSelect.seller_id,
          exporter_no : this.dataSelect.exporter_no,
          approve_status : 'process'
        }
        });
      },
      _confirmProcess:function(result,detail){
        if(result == true){
          // console.log(detail.datas);
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.update('./external/confirm_exporter/update', detail.datas, () => {
            this.pageSelected='listExporter';
            this.fire('refresh-seller');
            this.fire('refresh-exporter');
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
              console.log('success');
            }});
           });
          }
      },
      approve:function () {
        this.fire('toast',{status:'dialog',
        text:'คุณต้องการจะอนุมัติใช่หรือไม่ ?',
        confirmed : this._confirmApprove.bind(this),
        datas : {
          confirm_id : this.dataSelect.id,
          seller_id : this.dataSelect.seller_id,
          exporter_no : this.dataSelect.exporter_no
        }
        });
      },
      _confirmApprove:function(result,detail){
        if(result == true){
          // console.log(detail.datas);
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.update('./external/confirm_exporter/insert', detail.datas, () => {
            this.pageSelected='listExporter';
            this.fire('refresh-seller');
            this.fire('refresh-exporter');
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
              console.log('success');
            }});
           });
          }
      },
      _changeselectDataAll:function (val) {
        // console.log(val);
        if (typeof this.sellers != 'undefined') {
          this.sellers.map((item,index)=>{
            this.set('sellers.'+index+'.check',val);
          });
        }
      },
      _close:function(){
        this.fire('close-toggle');
      },
      _approveAll:function(){
        const check = (item)=>{
            return item.check == true;
        }
        this.sellers.filter(check).map((datas)=>{
          // console.log(datas);
          let {exporter_no, seller_id, id} = datas;
          let newData = {exporter_no, seller_id, id};
          // console.log(newData);
          this.data.push(newData);
        });
        this.fire('toast',{status:'dialog',
        text:'คุณต้องการจะอนุมัติใช่หรือไม่ ?',
        confirmed : this._confirm.bind(this)
        });
      },
      _confirm:function(result,detail){
        this.data.map((datas)=>{
          datas={
            confirm_id : datas.id,
            seller_id : datas.seller_id,
            exporter_no : datas.exporter_no
          }
        if(result == true){
          // console.log(datas);
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.insert('./external/confirm_exporter/insert', datas, () => {
            this.fire('refresh-seller');
            this.fire('refresh-exporter');
            this.selectDataAll = false;
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
              console.log('success');
            }});
           });
          }
        });
      },
      _dialogRemark: function(){
        this.$.dialog.toggle();
        console.log(this.dataSelect);
      },
      _dialogcancle:function() {
        this.$.dialog.toggle();
        this.seller_remark = "";
      },
      _reject: function(){
        const check = (item)=>{
            return item.check == true;
        }
        this.sellers.filter(check).map((datas)=>{
          // console.log(datas);
          let {seller_id, id, approve_status, seller_remark} = datas;
          let newData = {seller_id, id, approve_status, seller_remark};
          // console.log(newData);
          this.data.push(newData);
        });
        this.fire('toast',{status:'dialog',
        text:'คุณต้องการจะให้ผู้ส่งออกส่งเอกสารเพิ่มเติมใช่หรือไม่ ?',
        confirmed : this._confirmReject.bind(this)
        });
      },
      _confirmReject:function(result,detail){
        this.data.map((datas)=>{
          datas={
            id : datas.id,
            seller_id : datas.seller_id,
            approve_status : 'reject',
            seller_remark : this.seller_remark
          }
        if(result == true){
          // console.log(datas);
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.update('./external/confirm_exporter/update', datas, () => {
            this.$.dialog.toggle()
            this.seller_remark = "";
            this.fire('refresh-seller');
            this.fire('refresh-exporter');
            this.selectDataAll = false;
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
              console.log('success');
            }});
           });
          }
        });
      },
      changeNo:function(e) {
        var seller = e.currentTarget.data;
        var datas = {
          id : seller.id,
          exporter_no : parseInt(seller.exporter_no),
          seller_id : seller.seller_id
        }
        // console.log(datas);
        this.read('./external/check/duplicate?table=confirm_exporter&field=exporter_no&value='+datas.exporter_no, (response) => {
          if (response == 0) {
            this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
            this.update('./external/confirm_exporter/update', datas, () => {
              this.fire('refresh-seller');
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                console.log('success');
              }});
             });
          }
          else {
            this.read('./external/check/myowner?table=confirm_exporter&id='+datas.id+'&field=exporter_no&value='+datas.exporter_no, (response) => {
              if (response == 1) {
                this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
                this.update('./external/confirm_exporter/update', datas, () => {
                  this.fire('refresh-seller');
                  this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                    console.log('success');
                  }});
                 });
          }
          else {
            this.fire('toast',{status:'connectError',text:'เลข ข. นี้มีอยู่แล้ว',
              callback:function(){
              }})
          }
          });
        }
        });
      },
      _print:function(){
        const check = (item)=>{
            return item.check == true;
        }
        this.sellers.filter(check).map((datas)=>{
          // console.log(datas);
          let {seller_id, id, exporter_no} = datas;
          let newData = {seller_id, id, exporter_no};
          console.log(newData);
          // this.data.push(newData);
        });
      }
    });
  </script>
</dom-module>
